In [3]:
import pandas as pd
import numpy as np
import requests
import bs4 as bs
import urllib3.request

## Extracting features of 2020 movies from Wikipedia

In [4]:
link = "https://en.wikipedia.org/wiki/List_of_American_films_of_2020"

In [5]:
source = urllib.request.urlopen(link).read()
soup = bs.BeautifulSoup(source,'lxml')

In [6]:
tables = soup.find_all('table',class_='wikitable sortable')

In [7]:
len(tables)

4

In [8]:
type(tables[0])

bs4.element.Tag

In [9]:
df1 = pd.read_html(str(tables[0]))[0]
df2 = pd.read_html(str(tables[1]))[0]
df3 = pd.read_html(str(tables[2]))[0]
df4 = pd.read_html(str(tables[3]).replace("'1\"\'",'"1"'))[0] # avoided "ValueError: invalid literal for int() with base 10: '1"'

In [10]:
df = df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

In [11]:
df

,Opening,Opening.1,Title,Production company,Cast and crew,.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.,Ref.
0,JANUARY,3,The Grudge,Screen Gems / Stage 6 Films / Ghost House Pict...,Nicolas Pesce (director/screenplay); Andrea Ri...,[2],NaN
1,JANUARY,10,Underwater,20th Century Fox / TSG Entertainment / Chernin...,"William Eubank (director); Brian Duffield, Ada...",[3],NaN
2,JANUARY,10,Like a Boss,Paramount Pictures,"Miguel Arteta (director); Sam Pitman, Adam Col...",[4],NaN
3,JANUARY,10,Three Christs,IFC Films,Jon Avnet (director/screenplay); Eric Nazarian...,NaN,NaN
4,JANUARY,10,Inherit the Viper,Barry Films / Tycor International Film Company,Anthony Jerjen (director); Andrew Crabtree (sc...,[5],NaN
...,...,...,...,...,...,...,...
269,DECEMBER,25,We Can Be Heroes,Netflix / Troublemaker Studios,Robert Rodriguez (director/screenplay); Priyan...,NaN,[241]
270,DECEMBER,25,News of the World,Universal Pictures / Perfect World Pictures,Paul Greengrass (director/screenplay); Luke Da...,NaN,[242]
271,DECEMBER,25,One Night in Miami...,Amazon Studios,Regina King (director); Kemp Powers (screenpla...,NaN,[243]
272,DECEMBER,25,Promising Young Woman,Focus Features / FilmNation Entertainment,Emerald Fennell (director/screenplay); Carey M...,NaN,[244]
273,DECEMBER,30,Pieces of a Woman,Netflix / Bron Studios,Kornél Mundruczó (director); Kata Wéber (scree...,NaN,[245]

In [12]:
df_2020 = df[['Title','Cast and crew']]

In [13]:
df_2020

                     Title                                      Cast and crew
0               The Grudge  Nicolas Pesce (director/screenplay); Andrea Ri...
1               Underwater  William Eubank (director); Brian Duffield, Ada...
2              Like a Boss  Miguel Arteta (director); Sam Pitman, Adam Col...
3            Three Christs  Jon Avnet (director/screenplay); Eric Nazarian...
4        Inherit the Viper  Anthony Jerjen (director); Andrew Crabtree (sc...
..                     ...                                                ...
269       We Can Be Heroes  Robert Rodriguez (director/screenplay); Priyan...
270      News of the World  Paul Greengrass (director/screenplay); Luke Da...
271  One Night in Miami...  Regina King (director); Kemp Powers (screenpla...
272  Promising Young Woman  Emerald Fennell (director/screenplay); Carey M...
273      Pieces of a Woman  Kornél Mundruczó (director); Kata Wéber (scree...

[274 rows x 2 columns]

In [14]:
!pip install tmdbv3api

Requirement already satisfied: tmdbv3api in c:\users\nik\appdata\local\programs\python\python39\lib\site-packages (1.7.6)

WARNING: Ignoring invalid distribution -illow (c:\users\nik\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\nik\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\nik\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\nik\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\nik\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\nik\appdata\local\programs\python\python39\lib\site-packages)
WARNING: You are using pip version 21.3; however, version 22.0.4 is available.
You should consider upgrading via the 'C:\Users\Nik\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: requests in c:\users\nik\appdata\local\programs\python\python39\lib\site-packages (from tmdbv3api) (2.26.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\nik\appdata\local\programs\python\python39\lib\site-packages (from requests->tmdbv3api) (2.0.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\nik\appdata\local\programs\python\python39\lib\site-packages (from requests->tmdbv3api) (1.26.6)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\nik\appdata\local\programs\python\python39\lib\site-packages (from requests->tmdbv3api) (2021.5.30)
Requirement already satisfied: idna<4,>=2.5 in c:\users\nik\appdata\local\programs\python\python39\lib\site-packages (from requests->tmdbv3api) (3.2)

In [25]:
from tmdbv3api import TMDb
import json
import requests
tmdb = TMDb()
tmdb.api_key = '95a03a8b56ff378521399d36656e8954'

In [142]:
from tmdbv3api import Movie
tmdb_movie = Movie() 
def get_genre(x):
    genres = []
    result = tmdb_movie.search(x)
    if not result:
      return np.NaN
    else:
      movie_id = result[0].id
      response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id,tmdb.api_key))
      data_json = response.json()
      if data_json['genres']:
          genre_str = " " 
          for i in range(0,len(data_json['genres'])):
              genres.append(data_json['genres'][i]['name'])
          return genre_str.join(genres)
      else:
          return np.NaN

In [143]:
df_2020['genres'] = df_2020['Title'].map(lambda x: get_genre(str(x)))

In [144]:
df_2020

,movie_title,Cast and crew,genres,director_name,actor_1_name,actor_2_name,actor_3_name,movieid
0,The Grudge,Nicolas Pesce (director/screenplay); Andrea Ri...,Horror Mystery Thriller,Nicolas Pesce,Andrea Riseborough,Demián Bichir,John Cho,
1,Underwater,"William Eubank (director); Brian Duffield, Ada...",Action Horror Science Fiction Thriller,William Eubank,Kristen Stewart,Vincent Cassel,Jessica Henwick,
2,Like a Boss,"Miguel Arteta (director); Sam Pitman, Adam Col...",Comedy,Miguel Arteta,Tiffany Haddish,Rose Byrne,Salma Hayek,
3,Three Christs,Jon Avnet (director/screenplay); Eric Nazarian...,Drama,Jon Avnet,Richard Gere,Peter Dinklage,Walton Goggins,
4,Inherit the Viper,Anthony Jerjen (director); Andrew Crabtree (sc...,Crime Thriller Drama,Anthony Jerjen,Josh Hartnett,Margarita Levieva,Chandler Riggs,
...,...,...,...,...,...,...,...,...
269,We Can Be Heroes,Robert Rodriguez (director/screenplay); Priyan...,Action Fantasy Family Comedy,Robert Rodriguez,Priyanka Chopra Jonas,Pedro Pascal,YaYa Gosselin,
270,News of the World,Paul Greengrass (director/screenplay); Luke Da...,Drama Western Adventure,Paul Greengrass,Tom Hanks,Helena Zengel,NaN,
271,One Night in Miami...,Regina King (director); Kemp Powers (screenpla...,Drama,Regina King,Kingsley Ben-Adir,Eli Goree,Aldis Hodge,
272,Promising Young Woman,Emerald Fennell (director/screenplay); Carey M...,Thriller Crime Drama,Emerald Fennell,Carey Mulligan,Bo Burnham,Alison Brie,
273,Pieces of a Woman,Kornél Mundruczó (director); Kata Wéber (scree...,Drama,Kornél Mundruczó,Vanessa Kirby,Shia LaBeouf,Molly Parker,

In [30]:
def get_director(x):
    if " (director)" in x:
        return x.split(" (director)")[0]
    elif " (directors)" in x:
        return x.split(" (directors)")[0]
    else:
        return x.split(" (director/screenplay)")[0]

In [31]:
df_2020['director_name'] = df_2020['Cast and crew'].map(lambda x: get_director(str(x)))

C:\Users\Nik\AppData\Local\Temp\ipykernel_6440\3848435694.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2020['director_name'] = df_2020['Cast and crew'].map(lambda x: get_director(str(x)))

In [32]:
def get_actor1(x):
    return ((x.split("screenplay); ")[-1]).split(", ")[0])

In [33]:
df_2020['actor_1_name'] = df_2020['Cast and crew'].map(lambda x: get_actor1(str(x)))

C:\Users\Nik\AppData\Local\Temp\ipykernel_6440\3646981363.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2020['actor_1_name'] = df_2020['Cast and crew'].map(lambda x: get_actor1(str(x)))

In [34]:
def get_actor2(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 2:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[1])

In [35]:
df_2020['actor_2_name'] = df_2020['Cast and crew'].map(lambda x: get_actor2(str(x)))

C:\Users\Nik\AppData\Local\Temp\ipykernel_6440\463054939.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2020['actor_2_name'] = df_2020['Cast and crew'].map(lambda x: get_actor2(str(x)))

In [36]:
def get_actor3(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 3:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[2])

In [37]:
df_2020['actor_3_name'] = df_2020['Cast and crew'].map(lambda x: get_actor3(str(x)))

In [25]:
df_2020

                     Title  ...         actor_3_name
0               The Grudge  ...             John Cho
1               Underwater  ...      Jessica Henwick
2            Three Christs  ...       Walton Goggins
3              Like a Boss  ...          Salma Hayek
4        Inherit the Viper  ...       Chandler Riggs
..                     ...  ...                  ...
250      News of the World  ...                  NaN
251     One Night in Miami  ...          Aldis Hodge
252  Promising Young Woman  ...          Alison Brie
253          Sylvie's Love  ...  Ryan Michelle Bathe
254      Pieces of a Woman  ...         Molly Parker

[255 rows x 7 columns]

In [38]:
df_2020 = df_2020.rename(columns={'Title':'movie_title'})

In [39]:
new_df20 = df_2020.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [40]:
new_df20

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title
0,Nicolas Pesce,Andrea Riseborough,Demián Bichir,John Cho,Horror Mystery Thriller,The Grudge
1,William Eubank,Kristen Stewart,Vincent Cassel,Jessica Henwick,Action Horror Science Fiction Thriller,Underwater
2,Miguel Arteta,Tiffany Haddish,Rose Byrne,Salma Hayek,Comedy,Like a Boss
3,Jon Avnet,Richard Gere,Peter Dinklage,Walton Goggins,Drama,Three Christs
4,Anthony Jerjen,Josh Hartnett,Margarita Levieva,Chandler Riggs,Crime Thriller Drama,Inherit the Viper
...,...,...,...,...,...,...
269,Robert Rodriguez,Priyanka Chopra Jonas,Pedro Pascal,YaYa Gosselin,Action Fantasy Family Comedy,We Can Be Heroes
270,Paul Greengrass,Tom Hanks,Helena Zengel,NaN,Drama Western Adventure,News of the World
271,Regina King,Kingsley Ben-Adir,Eli Goree,Aldis Hodge,Drama,One Night in Miami...
272,Emerald Fennell,Carey Mulligan,Bo Burnham,Alison Brie,Thriller Crime Drama,Promising Young Woman
273,Kornél Mundruczó,Vanessa Kirby,Shia LaBeouf,Molly Parker,Drama,Pieces of a Woman

In [41]:
new_df20['comb'] = new_df20['actor_1_name'] + ' ' + new_df20['actor_2_name'] + ' '+ new_df20['actor_3_name'] + ' '+ new_df20['director_name'] +' ' + new_df20['genres']

In [42]:
new_df20.isna().sum()

director_name     0
actor_1_name      0
actor_2_name      4
actor_3_name     27
genres            1
movie_title       0
comb             28
dtype: int64

In [43]:
new_df20 = new_df20.dropna(how='any')

In [32]:
new_df20.isna().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           0
movie_title      0
comb             0
dtype: int64

In [44]:
new_df20['movie_title'] = new_df20['movie_title'].str.lower()

C:\Users\Nik\AppData\Local\Temp\ipykernel_6440\2267385682.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df20['movie_title'] = new_df20['movie_title'].str.lower()

In [45]:
new_df20

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,Nicolas Pesce,Andrea Riseborough,Demián Bichir,John Cho,Horror Mystery Thriller,the grudge,Andrea Riseborough Demián Bichir John Cho Nico...
1,William Eubank,Kristen Stewart,Vincent Cassel,Jessica Henwick,Action Horror Science Fiction Thriller,underwater,Kristen Stewart Vincent Cassel Jessica Henwick...
2,Miguel Arteta,Tiffany Haddish,Rose Byrne,Salma Hayek,Comedy,like a boss,Tiffany Haddish Rose Byrne Salma Hayek Miguel ...
3,Jon Avnet,Richard Gere,Peter Dinklage,Walton Goggins,Drama,three christs,Richard Gere Peter Dinklage Walton Goggins Jon...
4,Anthony Jerjen,Josh Hartnett,Margarita Levieva,Chandler Riggs,Crime Thriller Drama,inherit the viper,Josh Hartnett Margarita Levieva Chandler Riggs...
...,...,...,...,...,...,...,...
268,Pete Docter,Jamie Foxx,Tina Fey,Graham Norton,Animation Comedy Fantasy Family,soul,Jamie Foxx Tina Fey Graham Norton Pete Docter ...
269,Robert Rodriguez,Priyanka Chopra Jonas,Pedro Pascal,YaYa Gosselin,Action Fantasy Family Comedy,we can be heroes,Priyanka Chopra Jonas Pedro Pascal YaYa Gossel...
271,Regina King,Kingsley Ben-Adir,Eli Goree,Aldis Hodge,Drama,one night in miami...,Kingsley Ben-Adir Eli Goree Aldis Hodge Regina...
272,Emerald Fennell,Carey Mulligan,Bo Burnham,Alison Brie,Thriller Crime Drama,promising young woman,Carey Mulligan Bo Burnham Alison Brie Emerald ...
273,Kornél Mundruczó,Vanessa Kirby,Shia LaBeouf,Molly Parker,Drama,pieces of a woman,Vanessa Kirby Shia LaBeouf Molly Parker Kornél...

In [46]:
old_df = pd.read_csv('final_data.csv')

In [47]:
old_df

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James C...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore ...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre,Christoph Waltz Rory Kinnear Stephanie Sigman ...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises,Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary,star wars: episode vii - the force awakens ...,Doug Walker Rob Walker unknown Doug Walker Doc...
...,...,...,...,...,...,...,...
5871,"Nick Bruno, Troy Quane",Will Smith,Tom Holland,Rashida Jones,Animation Action Adventure Comedy Family,spies in disguise,Will Smith Tom Holland Rashida Jones Nick Brun...
5872,Greta Gerwig,Saoirse Ronan,Emma Watson,Florence Pugh,Drama Romance,little women,Saoirse Ronan Emma Watson Florence Pugh Greta ...
5873,Sam Mendes,George MacKay,Dean-Charles Chapman,Mark Strong,War Drama Action Thriller,1917,George MacKay Dean-Charles Chapman Mark Strong...
5874,Destin Daniel Cretton,Michael B. Jordan,Jamie Foxx,Brie Larson,Drama Crime History,just mercy,Michael B. Jordan Jamie Foxx Brie Larson Desti...
5875,Chinonye Chukwu,Alfre Woodard,Wendell Pierce,Aldis Hodge,Drama,clemency,Alfre Woodard Wendell Pierce Aldis Hodge Chino...

In [48]:
final_df = old_df.append(new_df20,ignore_index=True)

In [49]:
final_df

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James C...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore ...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre,Christoph Waltz Rory Kinnear Stephanie Sigman ...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises,Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary,star wars: episode vii - the force awakens ...,Doug Walker Rob Walker unknown Doug Walker Doc...
...,...,...,...,...,...,...,...
6117,Pete Docter,Jamie Foxx,Tina Fey,Graham Norton,Animation Comedy Fantasy Family,soul,Jamie Foxx Tina Fey Graham Norton Pete Docter ...
6118,Robert Rodriguez,Priyanka Chopra Jonas,Pedro Pascal,YaYa Gosselin,Action Fantasy Family Comedy,we can be heroes,Priyanka Chopra Jonas Pedro Pascal YaYa Gossel...
6119,Regina King,Kingsley Ben-Adir,Eli Goree,Aldis Hodge,Drama,one night in miami...,Kingsley Ben-Adir Eli Goree Aldis Hodge Regina...
6120,Emerald Fennell,Carey Mulligan,Bo Burnham,Alison Brie,Thriller Crime Drama,promising young woman,Carey Mulligan Bo Burnham Alison Brie Emerald ...
6121,Kornél Mundruczó,Vanessa Kirby,Shia LaBeouf,Molly Parker,Drama,pieces of a woman,Vanessa Kirby Shia LaBeouf Molly Parker Kornél...

In [50]:
final_df.to_csv('main_data.csv',index=False)

# Extracting features of 2021 movies from Wikipedia

In [56]:
link = "https://en.wikipedia.org/wiki/List_of_American_films_of_2021"

In [57]:
source = urllib.request.urlopen(link).read()
soup = bs.BeautifulSoup(source,'lxml')

In [58]:
tables = soup.find_all('table',class_='wikitable sortable')

In [59]:
len(tables)

4

In [60]:
type(tables[0])

bs4.element.Tag

In [61]:
df1 = pd.read_html(str(tables[0]))[0]
df2 = pd.read_html(str(tables[1]))[0]
df3 = pd.read_html(str(tables[2]))[0]
df4 = pd.read_html(str(tables[3]).replace("'1\"\'",'"1"'))[0]

In [62]:
df = df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

In [63]:
df

,Opening,Opening.1,Title,Production company,Cast and crew,.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.,Ref.
0,JANUARY,1.0,Shadow in the Cloud,Vertical Entertainment,Roseanne Liang (director/screenplay); Max Land...,[2],NaN
1,JANUARY,13.0,The White Tiger,Netflix,Ramin Bahrani (director/screenplay); Adarsh Go...,NaN,NaN
2,JANUARY,14.0,Locked Down,HBO Max / Warner Bros. Pictures,Doug Liman (director); Steven Knight (screenpl...,[3],NaN
3,JANUARY,15.0,The Dig,Netflix / Clerkenwell Films,Simon Stone (director); Moira Buffini (screenp...,[4],NaN
4,JANUARY,15.0,Outside the Wire,Netflix,"Mikael Håfström (director); Rob Yescombe, Rowa...",[5],NaN
...,...,...,...,...,...,...,...
353,DECEMBER,25.0,The Tragedy of Macbeth,Apple TV+ / A24 / IAC Films,Joel Coen (director/screenplay); Denzel Washin...,NaN,[271]
354,DECEMBER,25.0,A Journal for Jordan,Columbia Pictures / Escape Artists / Bron Studios,Denzel Washington (director); Virgil Williams ...,NaN,[272]
355,DECEMBER,25.0,American Underdog,Lionsgate,"Erwin brothers (directors); Jon Erwin, David A...",NaN,[273]
356,DECEMBER,26.0,Memoria,Neon,Apichatpong Weerasethakul (director/acreenplay...,NaN,[274]
357,DECEMBER,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
df_2021 = df[['Title','Cast and crew']]

In [65]:
df_2021

                      Title                                      Cast and crew
0       Shadow in the Cloud  Roseanne Liang (director/screenplay); Max Land...
1           The White Tiger  Ramin Bahrani (director/screenplay); Adarsh Go...
2               Locked Down  Doug Liman (director); Steven Knight (screenpl...
3                   The Dig  Simon Stone (director); Moira Buffini (screenp...
4          Outside the Wire  Mikael Håfström (director); Rob Yescombe, Rowa...
..                      ...                                                ...
353  The Tragedy of Macbeth  Joel Coen (director/screenplay); Denzel Washin...
354    A Journal for Jordan  Denzel Washington (director); Virgil Williams ...
355       American Underdog  Erwin brothers (directors); Jon Erwin, David A...
356                 Memoria  Apichatpong Weerasethakul (director/acreenplay...
357                     NaN                                                NaN

[358 rows x 2 columns]

In [72]:
df_2021['genres'] = df_2021['Title'].map(lambda x: get_genre(str(x)))

C:\Users\Nik\AppData\Local\Temp\ipykernel_6440\3587185986.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2021['genres'] = df_2021['Title'].map(lambda x: get_genre(str(x)))

In [73]:
df_2021

,Title,Cast and crew,genres
0,Shadow in the Cloud,Roseanne Liang (director/screenplay); Max Land...,Horror Action War
1,The White Tiger,Ramin Bahrani (director/screenplay); Adarsh Go...,Drama
2,Locked Down,Doug Liman (director); Steven Knight (screenpl...,Comedy Crime Drama
3,The Dig,Simon Stone (director); Moira Buffini (screenp...,Drama History
4,Outside the Wire,"Mikael Håfström (director); Rob Yescombe, Rowa...",Thriller Action Science Fiction
...,...,...,...
353,The Tragedy of Macbeth,Joel Coen (director/screenplay); Denzel Washin...,Drama War
354,A Journal for Jordan,Denzel Washington (director); Virgil Williams ...,Drama Romance
355,American Underdog,"Erwin brothers (directors); Jon Erwin, David A...",Drama
356,Memoria,Apichatpong Weerasethakul (director/acreenplay...,Drama Fantasy Mystery
357,NaN,NaN,Comedy

In [74]:
df_2021['director_name'] = df_2020['Cast and crew'].map(lambda x: get_director(str(x)))

C:\Users\Nik\AppData\Local\Temp\ipykernel_6440\234852803.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2021['director_name'] = df_2020['Cast and crew'].map(lambda x: get_director(str(x)))

In [76]:
df_2021['actor_1_name'] = df_2021['Cast and crew'].map(lambda x: get_actor1(str(x)))

C:\Users\Nik\AppData\Local\Temp\ipykernel_6440\1611661901.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2021['actor_1_name'] = df_2021['Cast and crew'].map(lambda x: get_actor1(str(x)))

In [77]:
df_2021['actor_2_name'] = df_2021['Cast and crew'].map(lambda x: get_actor2(str(x)))

C:\Users\Nik\AppData\Local\Temp\ipykernel_6440\3001516348.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2021['actor_2_name'] = df_2021['Cast and crew'].map(lambda x: get_actor2(str(x)))

In [78]:
df_2021['actor_3_name'] = df_2021['Cast and crew'].map(lambda x: get_actor3(str(x)))

In [79]:
df_2021

,Title,Cast and crew,genres,director_name,actor_1_name,actor_2_name,actor_3_name
0,Shadow in the Cloud,Roseanne Liang (director/screenplay); Max Land...,Horror Action War,Nicolas Pesce,Chloë Grace Moretz,Taylor John Smith,Beulah Koale
1,The White Tiger,Ramin Bahrani (director/screenplay); Adarsh Go...,Drama,William Eubank,Adarsh Gourav,Rajkummar Rao,Priyanka Chopra Jonas
2,Locked Down,Doug Liman (director); Steven Knight (screenpl...,Comedy Crime Drama,Miguel Arteta,Anne Hathaway,Chiwetel Ejiofor,Stephen Merchant
3,The Dig,Simon Stone (director); Moira Buffini (screenp...,Drama History,Jon Avnet,Carey Mulligan,Ralph Fiennes,Lily James
4,Outside the Wire,"Mikael Håfström (director); Rob Yescombe, Rowa...",Thriller Action Science Fiction,Anthony Jerjen,Anthony Mackie,Damson Idris,Emily Beecham
...,...,...,...,...,...,...,...
353,The Tragedy of Macbeth,Joel Coen (director/screenplay); Denzel Washin...,Drama War,NaN,Denzel Washington,Frances McDormand,Bertie Carvel
354,A Journal for Jordan,Denzel Washington (director); Virgil Williams ...,Drama Romance,NaN,Michael B. Jordan,Chanté Adams,Jalon Christian
355,American Underdog,"Erwin brothers (directors); Jon Erwin, David A...",Drama,NaN,Zachary Levi,Anna Paquin,Dennis Quaid
356,Memoria,Apichatpong Weerasethakul (director/acreenplay...,Drama Fantasy Mystery,NaN,Apichatpong Weerasethakul (director/acreenplay...,Elkin Díaz,Jeanne Balibar
357,NaN,NaN,Comedy,NaN,nan,NaN,NaN

In [80]:
df_2021 = df_2021.rename(columns={'Title':'movie_title'})

In [81]:
new_df21 = df_2021.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [82]:
new_df21

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title
0,Nicolas Pesce,Chloë Grace Moretz,Taylor John Smith,Beulah Koale,Horror Action War,Shadow in the Cloud
1,William Eubank,Adarsh Gourav,Rajkummar Rao,Priyanka Chopra Jonas,Drama,The White Tiger
2,Miguel Arteta,Anne Hathaway,Chiwetel Ejiofor,Stephen Merchant,Comedy Crime Drama,Locked Down
3,Jon Avnet,Carey Mulligan,Ralph Fiennes,Lily James,Drama History,The Dig
4,Anthony Jerjen,Anthony Mackie,Damson Idris,Emily Beecham,Thriller Action Science Fiction,Outside the Wire
...,...,...,...,...,...,...
353,NaN,Denzel Washington,Frances McDormand,Bertie Carvel,Drama War,The Tragedy of Macbeth
354,NaN,Michael B. Jordan,Chanté Adams,Jalon Christian,Drama Romance,A Journal for Jordan
355,NaN,Zachary Levi,Anna Paquin,Dennis Quaid,Drama,American Underdog
356,NaN,Apichatpong Weerasethakul (director/acreenplay...,Elkin Díaz,Jeanne Balibar,Drama Fantasy Mystery,Memoria
357,NaN,nan,NaN,NaN,Comedy,NaN

In [83]:
new_df21['comb'] = new_df21['actor_1_name'] + ' ' + new_df21['actor_2_name'] + ' '+ new_df21['actor_3_name'] + ' '+ new_df21['director_name'] +' ' + new_df21['genres']

In [84]:
new_df21.isna().sum()

director_name     84
actor_1_name       0
actor_2_name       8
actor_3_name      25
genres             1
movie_title        1
comb             102
dtype: int64

In [85]:
new_df21 = new_df21.dropna(how='any')

In [86]:
new_df21.isna().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           0
movie_title      0
comb             0
dtype: int64

In [87]:
new_df21['movie_title'] = new_df21['movie_title'].str.lower()

C:\Users\Nik\AppData\Local\Temp\ipykernel_6440\2732271610.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df21['movie_title'] = new_df21['movie_title'].str.lower()

In [88]:
new_df21

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,Nicolas Pesce,Chloë Grace Moretz,Taylor John Smith,Beulah Koale,Horror Action War,shadow in the cloud,Chloë Grace Moretz Taylor John Smith Beulah Ko...
1,William Eubank,Adarsh Gourav,Rajkummar Rao,Priyanka Chopra Jonas,Drama,the white tiger,Adarsh Gourav Rajkummar Rao Priyanka Chopra Jo...
2,Miguel Arteta,Anne Hathaway,Chiwetel Ejiofor,Stephen Merchant,Comedy Crime Drama,locked down,Anne Hathaway Chiwetel Ejiofor Stephen Merchan...
3,Jon Avnet,Carey Mulligan,Ralph Fiennes,Lily James,Drama History,the dig,Carey Mulligan Ralph Fiennes Lily James Jon Av...
4,Anthony Jerjen,Anthony Mackie,Damson Idris,Emily Beecham,Thriller Action Science Fiction,outside the wire,Anthony Mackie Damson Idris Emily Beecham Anth...
...,...,...,...,...,...,...,...
269,Robert Rodriguez,Amy Grant,Michael W. Smith,TobyMac,Documentary Music,the jesus music,Amy Grant Michael W. Smith TobyMac Robert Rodr...
270,Paul Greengrass,Grace Van Patten,Mia Goth,Havana Rose Liu,Fantasy Drama Action Mystery,mayday,Grace Van Patten Mia Goth Havana Rose Liu Paul...
271,Regina King,David A. R. White,Antonio Sabàto Jr.,Francesca Battistelli,Drama,god's not dead: we the people,David A. R. White Antonio Sabàto Jr. Francesca...
272,Emerald Fennell,Sydney Park,Theodore Pellerin,Asjha Cooper,Thriller Horror Mystery,there's someone inside your house,Sydney Park Theodore Pellerin Asjha Cooper Eme...
273,Kornél Mundruczó,Daniel Craig,Rami Malek,Léa Seydoux,Adventure Action Thriller,no time to die,Daniel Craig Rami Malek Léa Seydoux Kornél Mun...

In [89]:
old_df = pd.read_csv('final_data.csv')

In [90]:
old_df

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James C...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore ...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre,Christoph Waltz Rory Kinnear Stephanie Sigman ...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises,Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary,star wars: episode vii - the force awakens ...,Doug Walker Rob Walker unknown Doug Walker Doc...
...,...,...,...,...,...,...,...
5871,"Nick Bruno, Troy Quane",Will Smith,Tom Holland,Rashida Jones,Animation Action Adventure Comedy Family,spies in disguise,Will Smith Tom Holland Rashida Jones Nick Brun...
5872,Greta Gerwig,Saoirse Ronan,Emma Watson,Florence Pugh,Drama Romance,little women,Saoirse Ronan Emma Watson Florence Pugh Greta ...
5873,Sam Mendes,George MacKay,Dean-Charles Chapman,Mark Strong,War Drama Action Thriller,1917,George MacKay Dean-Charles Chapman Mark Strong...
5874,Destin Daniel Cretton,Michael B. Jordan,Jamie Foxx,Brie Larson,Drama Crime History,just mercy,Michael B. Jordan Jamie Foxx Brie Larson Desti...
5875,Chinonye Chukwu,Alfre Woodard,Wendell Pierce,Aldis Hodge,Drama,clemency,Alfre Woodard Wendell Pierce Aldis Hodge Chino...

In [91]:
final_df = old_df.append(new_df20,ignore_index=True)

In [92]:
final_df

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James C...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore ...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre,Christoph Waltz Rory Kinnear Stephanie Sigman ...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises,Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary,star wars: episode vii - the force awakens ...,Doug Walker Rob Walker unknown Doug Walker Doc...
...,...,...,...,...,...,...,...
6117,Pete Docter,Jamie Foxx,Tina Fey,Graham Norton,Animation Comedy Fantasy Family,soul,Jamie Foxx Tina Fey Graham Norton Pete Docter ...
6118,Robert Rodriguez,Priyanka Chopra Jonas,Pedro Pascal,YaYa Gosselin,Action Fantasy Family Comedy,we can be heroes,Priyanka Chopra Jonas Pedro Pascal YaYa Gossel...
6119,Regina King,Kingsley Ben-Adir,Eli Goree,Aldis Hodge,Drama,one night in miami...,Kingsley Ben-Adir Eli Goree Aldis Hodge Regina...
6120,Emerald Fennell,Carey Mulligan,Bo Burnham,Alison Brie,Thriller Crime Drama,promising young woman,Carey Mulligan Bo Burnham Alison Brie Emerald ...
6121,Kornél Mundruczó,Vanessa Kirby,Shia LaBeouf,Molly Parker,Drama,pieces of a woman,Vanessa Kirby Shia LaBeouf Molly Parker Kornél...

In [93]:
final_df.to_csv('main_data.csv',index=False)

# Extracting features of 2022 movies from Wikipedia

In [94]:
link = "https://en.wikipedia.org/wiki/List_of_American_films_of_2022"

In [95]:
source = urllib.request.urlopen(link).read()
soup = bs.BeautifulSoup(source,'lxml')

In [96]:
tables = soup.find_all('table',class_='wikitable sortable')

In [97]:
len(tables)

4

In [99]:
type(tables)[0]

bs4.element.ResultSet[0]

In [100]:
df1 = pd.read_html(str(tables[0]))[0]
df2 = pd.read_html(str(tables[1]))[0]
df3 = pd.read_html(str(tables[2]))[0]
df4 = pd.read_html(str(tables[3]).replace("'1\"\'",'"1"'))[0]

In [101]:
df = df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

In [102]:
df

,Opening,Opening.1,Title,Production company,Cast and crew,.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.,Ref.
0,JANUARY,7.0,The 355,Universal Pictures / Freckle Films / FilmNatio...,Simon Kinberg (director/screenplay); Theresa R...,[2],NaN
1,JANUARY,7.0,The Legend of La Llorona,Saban Films,Patricia Harris Seeley (director/screenplay); ...,[3],NaN
2,JANUARY,7.0,The Commando,Saban Films,Asif Akbar (director); Koji Steven Sakai (scre...,[4],NaN
3,JANUARY,14.0,Scream,Paramount Pictures / Spyglass Media Group,"Matt Bettinelli-Olpin, Tyler Gillett (director...",[5],NaN
4,JANUARY,14.0,Hotel Transylvania: Transformania,Amazon Studios / Columbia Pictures / Sony Pict...,"Jennifer Kluska, Derek Drymon (directors); Amo...",[6],NaN
...,...,...,...,...,...,...,...
151,DECEMBER,16.0,Shazam! Fury of the Gods,Warner Bros. Pictures / New Line Cinema / DC F...,"David F. Sandberg (director); Henry Gayden, Ch...",NaN,[135]
152,DECEMBER,21.0,Untitled Mario film,Universal Pictures / Illumination / Nintendo,"Aaron Horvath, Michael Jelenic (directors); Ma...",NaN,[136]
153,DECEMBER,21.0,I Wanna Dance with Somebody,TriStar Pictures / Black Label Media,Kasi Lemmons (director); Anthony McCarten (scr...,NaN,[51]
154,DECEMBER,25.0,Babylon,Paramount Pictures,Damien Chazelle (director/screenplay); Brad Pi...,NaN,[137]
155,DECEMBER,25.0,A Man Called Otto,Columbia Pictures,"Marc Forster (director), David Magee (screenpl...",NaN,[51]

In [104]:
df_2022 = df[['Title','Cast and crew']]

In [105]:
df_2022

,Title,Cast and crew
0,The 355,Simon Kinberg (director/screenplay); Theresa R...
1,The Legend of La Llorona,Patricia Harris Seeley (director/screenplay); ...
2,The Commando,Asif Akbar (director); Koji Steven Sakai (scre...
3,Scream,"Matt Bettinelli-Olpin, Tyler Gillett (director..."
4,Hotel Transylvania: Transformania,"Jennifer Kluska, Derek Drymon (directors); Amo..."
...,...,...
151,Shazam! Fury of the Gods,"David F. Sandberg (director); Henry Gayden, Ch..."
152,Untitled Mario film,"Aaron Horvath, Michael Jelenic (directors); Ma..."
153,I Wanna Dance with Somebody,Kasi Lemmons (director); Anthony McCarten (scr...
154,Babylon,Damien Chazelle (director/screenplay); Brad Pi...
155,A Man Called Otto,"Marc Forster (director), David Magee (screenpl..."

In [106]:
df_2022['genres'] = df_2022['Title'].map(lambda x: get_genre(str(x)))

C:\Users\Nik\AppData\Local\Temp\ipykernel_6440\2369738557.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2022['genres'] = df_2022['Title'].map(lambda x: get_genre(str(x)))

In [107]:
df_2022['director_name'] = df_2022['Cast and crew'].map(lambda x: get_director(str(x)))

C:\Users\Nik\AppData\Local\Temp\ipykernel_6440\3796821595.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2022['director_name'] = df_2022['Cast and crew'].map(lambda x: get_director(str(x)))

In [108]:
df_2022['actor_1_name'] = df_2022['Cast and crew'].map(lambda x: get_actor1(str(x)))

C:\Users\Nik\AppData\Local\Temp\ipykernel_6440\2929607607.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2022['actor_1_name'] = df_2022['Cast and crew'].map(lambda x: get_actor1(str(x)))

In [109]:
df_2022['actor_2_name'] = df_2022['Cast and crew'].map(lambda x: get_actor2(str(x)))

C:\Users\Nik\AppData\Local\Temp\ipykernel_6440\2384233428.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2022['actor_2_name'] = df_2022['Cast and crew'].map(lambda x: get_actor2(str(x)))

In [110]:
df_2022['actor_3_name'] = df_2022['Cast and crew'].map(lambda x: get_actor3(str(x)))

In [111]:
df_2022

,Title,Cast and crew,genres,director_name,actor_1_name,actor_2_name,actor_3_name
0,The 355,Simon Kinberg (director/screenplay); Theresa R...,Action Thriller,Simon Kinberg,Jessica Chastain,Lupita Nyong'o,Penélope Cruz
1,The Legend of La Llorona,Patricia Harris Seeley (director/screenplay); ...,Horror Thriller,Patricia Harris Seeley,Autumn Reeser,Antonio Cupo,Danny Trejo
2,The Commando,Asif Akbar (director); Koji Steven Sakai (scre...,Action Crime Thriller,Asif Akbar,Mickey Rourke,Michael Jai White,NaN
3,Scream,"Matt Bettinelli-Olpin, Tyler Gillett (director...",Horror Mystery Thriller,"Matt Bettinelli-Olpin, Tyler Gillett",Melissa Barrera,Mason Gooding,Jenna Ortega
4,Hotel Transylvania: Transformania,"Jennifer Kluska, Derek Drymon (directors); Amo...",Animation Family Fantasy Comedy Adventure,"Jennifer Kluska, Derek Drymon",Andy Samberg,Selena Gomez,Kathryn Hahn
...,...,...,...,...,...,...,...
151,Shazam! Fury of the Gods,"David F. Sandberg (director); Henry Gayden, Ch...",Comedy Action Fantasy,David F. Sandberg,Zachary Levi,Asher Angel,Jack Dylan Grazer
152,Untitled Mario film,"Aaron Horvath, Michael Jelenic (directors); Ma...",NaN,"Aaron Horvath, Michael Jelenic",Chris Pratt,Anya Taylor-Joy,Charlie Day
153,I Wanna Dance with Somebody,Kasi Lemmons (director); Anthony McCarten (scr...,Drama,Kasi Lemmons,Naomi Ackie,Ashton Sanders,Nafessa Williams
154,Babylon,Damien Chazelle (director/screenplay); Brad Pi...,Action Adventure Science Fiction Thriller,Damien Chazelle,Brad Pitt,Margot Robbie,Tobey Maguire
155,A Man Called Otto,"Marc Forster (director), David Magee (screenpl...",Drama Comedy,Marc Forster,Tom Hanks,NaN,NaN

In [112]:
df_2022 = df_2022.rename(columns={'Title':'movie_title'})

In [113]:
new_df22 = df_2022.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [114]:
new_df22

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title
0,Simon Kinberg,Jessica Chastain,Lupita Nyong'o,Penélope Cruz,Action Thriller,The 355
1,Patricia Harris Seeley,Autumn Reeser,Antonio Cupo,Danny Trejo,Horror Thriller,The Legend of La Llorona
2,Asif Akbar,Mickey Rourke,Michael Jai White,NaN,Action Crime Thriller,The Commando
3,"Matt Bettinelli-Olpin, Tyler Gillett",Melissa Barrera,Mason Gooding,Jenna Ortega,Horror Mystery Thriller,Scream
4,"Jennifer Kluska, Derek Drymon",Andy Samberg,Selena Gomez,Kathryn Hahn,Animation Family Fantasy Comedy Adventure,Hotel Transylvania: Transformania
...,...,...,...,...,...,...
151,David F. Sandberg,Zachary Levi,Asher Angel,Jack Dylan Grazer,Comedy Action Fantasy,Shazam! Fury of the Gods
152,"Aaron Horvath, Michael Jelenic",Chris Pratt,Anya Taylor-Joy,Charlie Day,NaN,Untitled Mario film
153,Kasi Lemmons,Naomi Ackie,Ashton Sanders,Nafessa Williams,Drama,I Wanna Dance with Somebody
154,Damien Chazelle,Brad Pitt,Margot Robbie,Tobey Maguire,Action Adventure Science Fiction Thriller,Babylon
155,Marc Forster,Tom Hanks,NaN,NaN,Drama Comedy,A Man Called Otto

In [115]:
new_df22['comb'] = new_df22['actor_1_name'] + ' ' + new_df22['actor_2_name'] + ' '+ new_df22['actor_3_name'] + ' '+ new_df22['director_name'] +' ' + new_df22['genres']

In [116]:
new_df22

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,Simon Kinberg,Jessica Chastain,Lupita Nyong'o,Penélope Cruz,Action Thriller,The 355,Jessica Chastain Lupita Nyong'o Penélope Cruz ...
1,Patricia Harris Seeley,Autumn Reeser,Antonio Cupo,Danny Trejo,Horror Thriller,The Legend of La Llorona,Autumn Reeser Antonio Cupo Danny Trejo Patrici...
2,Asif Akbar,Mickey Rourke,Michael Jai White,NaN,Action Crime Thriller,The Commando,NaN
3,"Matt Bettinelli-Olpin, Tyler Gillett",Melissa Barrera,Mason Gooding,Jenna Ortega,Horror Mystery Thriller,Scream,Melissa Barrera Mason Gooding Jenna Ortega Mat...
4,"Jennifer Kluska, Derek Drymon",Andy Samberg,Selena Gomez,Kathryn Hahn,Animation Family Fantasy Comedy Adventure,Hotel Transylvania: Transformania,Andy Samberg Selena Gomez Kathryn Hahn Jennife...
...,...,...,...,...,...,...,...
151,David F. Sandberg,Zachary Levi,Asher Angel,Jack Dylan Grazer,Comedy Action Fantasy,Shazam! Fury of the Gods,Zachary Levi Asher Angel Jack Dylan Grazer Dav...
152,"Aaron Horvath, Michael Jelenic",Chris Pratt,Anya Taylor-Joy,Charlie Day,NaN,Untitled Mario film,NaN
153,Kasi Lemmons,Naomi Ackie,Ashton Sanders,Nafessa Williams,Drama,I Wanna Dance with Somebody,Naomi Ackie Ashton Sanders Nafessa Williams Ka...
154,Damien Chazelle,Brad Pitt,Margot Robbie,Tobey Maguire,Action Adventure Science Fiction Thriller,Babylon,Brad Pitt Margot Robbie Tobey Maguire Damien C...
155,Marc Forster,Tom Hanks,NaN,NaN,Drama Comedy,A Man Called Otto,NaN

In [117]:
new_df22.isna().sum()

director_name     0
actor_1_name      0
actor_2_name      6
actor_3_name     12
genres            4
movie_title       1
comb             15
dtype: int64

In [118]:
new_df22=new_df22.dropna(how='any')

In [119]:
new_df22.isna().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           0
movie_title      0
comb             0
dtype: int64

In [120]:
new_df22['movie_title'] = new_df22['movie_title'].str.lower()

C:\Users\Nik\AppData\Local\Temp\ipykernel_6440\2732328091.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df22['movie_title'] = new_df22['movie_title'].str.lower()

In [121]:
new_df22

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,Simon Kinberg,Jessica Chastain,Lupita Nyong'o,Penélope Cruz,Action Thriller,the 355,Jessica Chastain Lupita Nyong'o Penélope Cruz ...
1,Patricia Harris Seeley,Autumn Reeser,Antonio Cupo,Danny Trejo,Horror Thriller,the legend of la llorona,Autumn Reeser Antonio Cupo Danny Trejo Patrici...
3,"Matt Bettinelli-Olpin, Tyler Gillett",Melissa Barrera,Mason Gooding,Jenna Ortega,Horror Mystery Thriller,scream,Melissa Barrera Mason Gooding Jenna Ortega Mat...
4,"Jennifer Kluska, Derek Drymon",Andy Samberg,Selena Gomez,Kathryn Hahn,Animation Family Fantasy Comedy Adventure,hotel transylvania: transformania,Andy Samberg Selena Gomez Kathryn Hahn Jennife...
5,Luis Prieto,Cameron Monaghan,Frank Grillo,Lilly Krug,Thriller,shattered,Cameron Monaghan Frank Grillo Lilly Krug Luis ...
...,...,...,...,...,...,...,...
149,Tommy Wirkola,David Harbour,John Leguizamo,Beverly D'Angelo,Action Thriller,violent night,David Harbour John Leguizamo Beverly D'Angelo ...
150,James Cameron,Sam Worthington,Zoe Saldana,Stephen Lang,Action Adventure Science Fiction Fantasy,avatar 2,Sam Worthington Zoe Saldana Stephen Lang James...
151,David F. Sandberg,Zachary Levi,Asher Angel,Jack Dylan Grazer,Comedy Action Fantasy,shazam! fury of the gods,Zachary Levi Asher Angel Jack Dylan Grazer Dav...
153,Kasi Lemmons,Naomi Ackie,Ashton Sanders,Nafessa Williams,Drama,i wanna dance with somebody,Naomi Ackie Ashton Sanders Nafessa Williams Ka...
154,Damien Chazelle,Brad Pitt,Margot Robbie,Tobey Maguire,Action Adventure Science Fiction Thriller,babylon,Brad Pitt Margot Robbie Tobey Maguire Damien C...

In [122]:
old_df = pd.read_csv('final_data.csv')

In [123]:
old_df

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James C...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore ...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre,Christoph Waltz Rory Kinnear Stephanie Sigman ...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises,Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary,star wars: episode vii - the force awakens ...,Doug Walker Rob Walker unknown Doug Walker Doc...
...,...,...,...,...,...,...,...
5871,"Nick Bruno, Troy Quane",Will Smith,Tom Holland,Rashida Jones,Animation Action Adventure Comedy Family,spies in disguise,Will Smith Tom Holland Rashida Jones Nick Brun...
5872,Greta Gerwig,Saoirse Ronan,Emma Watson,Florence Pugh,Drama Romance,little women,Saoirse Ronan Emma Watson Florence Pugh Greta ...
5873,Sam Mendes,George MacKay,Dean-Charles Chapman,Mark Strong,War Drama Action Thriller,1917,George MacKay Dean-Charles Chapman Mark Strong...
5874,Destin Daniel Cretton,Michael B. Jordan,Jamie Foxx,Brie Larson,Drama Crime History,just mercy,Michael B. Jordan Jamie Foxx Brie Larson Desti...
5875,Chinonye Chukwu,Alfre Woodard,Wendell Pierce,Aldis Hodge,Drama,clemency,Alfre Woodard Wendell Pierce Aldis Hodge Chino...

In [124]:
final_df = old_df.append(new_df20,ignore_index=True)

In [125]:
final_df

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James C...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore ...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre,Christoph Waltz Rory Kinnear Stephanie Sigman ...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises,Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary,star wars: episode vii - the force awakens ...,Doug Walker Rob Walker unknown Doug Walker Doc...
...,...,...,...,...,...,...,...
6117,Pete Docter,Jamie Foxx,Tina Fey,Graham Norton,Animation Comedy Fantasy Family,soul,Jamie Foxx Tina Fey Graham Norton Pete Docter ...
6118,Robert Rodriguez,Priyanka Chopra Jonas,Pedro Pascal,YaYa Gosselin,Action Fantasy Family Comedy,we can be heroes,Priyanka Chopra Jonas Pedro Pascal YaYa Gossel...
6119,Regina King,Kingsley Ben-Adir,Eli Goree,Aldis Hodge,Drama,one night in miami...,Kingsley Ben-Adir Eli Goree Aldis Hodge Regina...
6120,Emerald Fennell,Carey Mulligan,Bo Burnham,Alison Brie,Thriller Crime Drama,promising young woman,Carey Mulligan Bo Burnham Alison Brie Emerald ...
6121,Kornél Mundruczó,Vanessa Kirby,Shia LaBeouf,Molly Parker,Drama,pieces of a woman,Vanessa Kirby Shia LaBeouf Molly Parker Kornél...

In [130]:
movie_id = result[0].id

NameError: name 'result' is not defined

In [246]:
from tmdbv3api import Movie
tmdb_movie = Movie() 

def get_id(x):
    mid = []
    result = tmdb_movie.search(x)
    if not result:
      return np.NaN
    else:
      movie_id = result[0].id
      id = " "
      print(str(movie_id))
      return movie_id

In [247]:
final_df['movie_id']=final_df['movie_title'].map(lambda x: get_id(str(x)))

19995
285
206647
49026
140607
49529
38757
99861
767
209112
1452
10764
58
57201
49521
2454
1865
41154
122917
1930
20662
57158
2268
597
271110
44833
135397
102382
68721
36668
62211
8373
91314
102382
49013
44912
10193
534
168259
72190
127585
54138
81005
9543
68726
38356
217
105864
62177
188927
10681
5174
14161
17979
76757
411
246655
155
892153
15512
1726
44826
8487
1735
436969
2698
137113
9804
14869
150540
10138
58595
102651
119450
64686
100402
10192
158852
177572
82690
5255
47933
10191
296
283995
157336
27205
49051
4922
691677
131634
27022
503
241259
810
68735
87101
10140
676
91314
1966
675
674
8960
6479
118
2062
272
10527
18360
2080
605
109445
604
76338
76341
13448
10195
13053
19585
57165
62213
177677
7978
258489
5559
49444
10196
956
117251
50321
11619
82703
652
80321
36669
95
608
2310
140300
56292
81188
7552
616
13475
634649
82702
205584
10048
13183
944
1927
72559
2114
1771
36643
8619
9836
1724
82
267935
281957
77950
44896
270946
2503
9502
102899
101299
50620
919689
8961
417859
27576
86834
17578
673
6972
82700
10567
12445
181533
38055
671
49524
315011
22
12444
131631
591
172385
758075
51497
58574
1911
49040
415
8871
435
955
2133
1979
87827
1250
324668
9471
70981
10996
68724
2789
7459
42888
37834
75612
1895
1894
585
76170
1893
49519
2395
12100
290595
49047
9619
308531
1593
254128
714
2024
163
787
262500
2567
38745
40805
34544
53182
41513
13700
262504
39254
77931
1639
80274
1571
120
8489
10588
2048
1495
10137
10198
286217
106213
24113
9679
98
180
672
280
11322
4982
36955
18487
39451
27581
9268
68718
10545
11688
76163
2059
2486
16523
116711
9946
1372
106646
414
563
83542
41216
862491
9016
18162
138103
10214
205775
11692
22972
227973
29193
1734
3131
76758
9408
9890
855
77953
18
37786
10501
57800
12
122
121
68737
1995
157353
331
61791
8204
47964
9806
1408
32657
41154
863
44048
5175
2655
22794
8355
116745
458897
1422
337401
7446
65754
1572
10528
10865
258509
2253
10661
257344
644
10756
686
9383
179
76285
1996
291805
1535
2067
46195
2277
10357
4477
8665
166424
921
49852
4464
664
8358
9836
2502
9772
161
23566
585083
4523
9740
59961
10481
59108
1581
9798
22897
298
7484
157350
853
10159
9593
1904
9615
51052
297
9884
16858
62764
22538
9341
12107
9637
9339
39691
8247
11253
1949
8452
310
27578
353081
70160
45243
364
7518
11544
9986
8656
146216
9291
55301
109418
11665
6964
11324
12193
9928
754
10202
4147
50546
9480
1701
13027
2289
20504
9574
159211
379686
12096
8834
228150
6068
41515
9023
38317
2157
14462
7551
159824
9722
49948
2135
9822
9705
1656
12159
9678
4442
75
571265
760336
19959
11973
11228
77951
5491
10715
322240
9562
9922
9447
274854
8870
9992
36970
10077
76649
293644
453
8587
72545
109451
9533
2023
71880
584
309809
4858
17711
412117
8698
93456
602
330
953
9693
246655
8909
9802
950
1824
2976
11026
332
75656
38365
594
561
15189
11678
6538
10555
1125
9487
4551
760336
9567
37821
203801
2539
9297
3172
6520
1439
37958
825997
7450
11375
28510
25769
23685
11866
9741
211672
23629
568620
10153
153518
8676
20829
4349
9718
10808
197
25
35
11086
520016
27220
6947
3050
2675
809
920
4806
24593
228165
3595
16869
879
11970
1573
9257
2668
1903
9697
395
23398
10590
117263
200
44943
587
520946
57212
152760
2756
33909
49017
378385
2270
978
44564
3132
520901
8427
52520
80585
10592
49021
11535
10550
11258
12610
59981
201088
5137
3093
107846
188207
4614
24021
448383
20352
11517
214756
26428
9824
48988
9008
300673
12113
38778
72331
1844
15255
846
9703
857
136797
3981
425
793002
72331
624860
568
64635
9021
82695
9489
12133
9342
41733
5551
9350
9208
38575
1852
11820
76493
345
196867
256591
59962
36648
60747
9440
71679
51620
11412
11983
6795
550
11170
12146
9292
10783
100241
257
9947
189
12618
253412
1427
818
16577
329
12160
9331
946370
9072
3536
9087
12177
12138
273248
9955
50359
1271
693
14306
497
11199
9982
210577
2501
710
2275
37165
9837
10708
136400
10992
9654
2642
8916
19899
2119
9641
294254
38167
5994
508947
9563
547
1538
9334
11128
703745
13576
39538
10628
14836
8645
9509
10067
9384
9279
456740
9422
77174
4824
9620
9302
10199
10479
10771
3512
137094
10866
267860
8078
7485
170687
6435
137106
10040
6278
82682
17610
22954
16995
16558
9849
5820
16866
201
11775
87825
12201
11015
9932
13389
17332
4958
786
8920
11679
38321
14411
8413
24428
10052
9676
9664
2100
642208
137321
123553
11260
9009
11374
2309
8285
210860
2312
9839
13922
293660
9713
190859
15674
9007
889
1370
4942
347969
24438
116741
35791
72431
4564
1813
87428
666750
10589
71676
1722
9506
10022
11358
13
6477
1597
10530
13640
9327
8488
10603
8273
109424
35056
8839
156022
7303
8963
1402
9315
8984
795
24
11353
784993
393
9618
9374
8584
2320
58224
1729
175574
8077
8818
64686
10586
116149
10632
402
1792
13260
72197
3580
12123
9566
9833
4517
8202
16072
34314
19724
145220
14623
42297
105778
10375
36586
11321
70074
242
9621
1819
8536
8046
1717
486131
9444
824
11456
261023
3683
22803
285923
39437
1950
640
97630
9767
11631
32856
6519
8741
49520
1850
36557
26389
11817
2123
9907
9969
18239
808
38050
8367
9390
72105
2898
10312
109443
2022
37686
462
9919
187017
628
10201
302699
9441
274167
224141
388
2112
10329
74465
13811
6877
10320
50646
8920
13673
60308
6950
225574
13836
752
6038
333165
918832
11451
12103
60304
2251
46529
300671
228326
9754
66
4421
787310
588
10393
71552
9631
216282
306
928
205587
6623
1577
9801
2116
9624
14199
632304
4599
22832
10390
9879
38579
44603
653740
1248
12220
402
9573
4959
10061
13572
10386
421
316152
11615
13498
241554
2252
11968
10047
38319
69668
9770
11212
10533
11859
13813
455957
11863
18501
109491
9275
329833
12634
10416
47327
15268
10796
10529
9548
132355
1900
89
96724
198184
9481
4547
708336
6415
181283
9896
167
11232
1636
2148
5176
260346
1389
9894
811367
8592
913
11091
2103
5393
9095
8874
11467
320
199
20533
10684
1624
325789
113464
888
82675
4256
1493
88751
11130
9944
10731
7350
9869
4379
146233
2034
926
4248
64328
36647
7214
1537
9360
6282
508
9487
2636
10478
13499
9981
7453
15045
7737
232672
17379
8987
11359
82525
9759
58233
9906
438631
4148
2207
9381
9625
9304
20856
5955
9899
49049
9826
21355
10858
11439
9457
12412
1494
13184
2185
6639
227094
38153
58233
116977
68734
5503
27573
819
1369
9623
10895
10935
834
711
170
10027
11812
37233
37950
27582
64688
509
7443
5966
11066
136795
8095
87826
11560
25189
2637
265339
709
49730
2749
9607
1830
54054
228967
46528
14908
27936
65
280391
9476
10610
745
49527
73937
168672
18240
10398
165
240832
216015
12279
1645
691683
193756
11287
259693
37799
10184
4257
4234
196
257091
6114
24803
109410
1213
100042
9036
257211
323675
9361
1677
187
7461
16538
9889
820
11565
6073
506680
16996
52505
19912
296098
8007
32823
4380
11551
10336
11362
50348
1124
227159
68179
1579
708
34851
9930
1586
2044
9913
71864
10761
209451
11975
4970
11831
9096
440
11011
10641
11172
39513
82687
41446
8224
10537
225886
10385
55779
10154
10647
11431
49012
8457
188161
8850
64685
38357
10060
11398
557648
10391
8970
9306
11370
12184
1921
1683
203
11858
62835
18937
13536
15556
10718
11062
10802
1887
6071
10461
80278
12704
10315
16643
2687
194
11025
8849
78698
30943
9544
24418
7288
14655
24575
10366
19898
4965
15074
56715
1272
72358
20542
266396
9978
10428
5353
11934
107018
19495
110415
77459
26486
9495
256040
24420
1257
9615
62214
452832
8842
9531
64807
12289
11529
20943
9099
9488
193
134112
55787
257932
10400
1957
10833
256961
5852
12312
622
11306
12508
10534
1091
87421
10871
13503
13600
68722
14324
14325
299687
312221
23168
76494
4944
10488
2109
334
23742
259694
62837
8470
11001
138832
16911
2163
36670
243938
227735
2155
8409
31908
10219
48171
782
75531
11802
9776
18785
365222
817
414906
45054
943
22881
2109
10054
51540
17529
350
152
109431
1598
8065
271718
11638
409
2118
11459
10806
9348
8843
9313
39486
1273
13920
50544
325133
140823
1883
89492
22949
12437
2959
9957
11648
9366
460458
5506
13051
49530
34806
49022
11469
23479
11667
423
768
2447
2288
88794
13515
11979
169
8090
11622
3604
9541
94348
8197
35019
10410
8836
14442
321741
14175
11004
11918
98357
10012
49526
268920
9093
119283
11823
35169
118957
849
4515
18886
6575
6440
13496
18320
22787
8967
37498
675
13056
14113
285783
49478
9726
5653
20763
467833
9311
9280
26843
11876
22267
45958
1969
310706
198663
239573
10436
1381
2162
127493
12429
228205
21311
77875
192136
18254
881
10877
9600
202575
71469
85446
10685
7220
9763
72387
12596
1892
13640
8055
50647
10719
9294
11888
9647
9353
55721
109414
10307
11978
22907
87567
38322
45612
7305
3594
157841
11519
12920
59
9335
12106
11141
8649
31867
10253
3587
124459
24662
32274
182
5494
28
38073
2054
302156
606
87502
698
120467
11313
6488
10559
425909
653349
8012
1574
9032
2770
862
136797
72570
27569
10637
1669
132363
639721
9273
9880
2925
807
17654
11836
322
70
9535
11036
6557
18126
16340
10333
4476
22947
2755
82654
59967
16300
9598
82696
9870
13416
8292
8780
9715
10521
10762
10096
59436
227783
4133
10207
172
21972
36593
707
533
6023
6439
4347
37056
4105
76489
3933
9918
273481
307081
16871
293863
13156
41233
9266
1262
4513
22970
7278
9013
865
10776
50456
618353
9823
59861
12763
188222
9766
14034
12244
11137
51162
10152
9452
239566
53113
9271
4474
184346
48340
14846
72207
16232
43539
9920
8978
11702
18550
8869
43347
3489
9701
2122
37707
10658
13150
9042
17813
11797
11400
10350
28902
14164
76640
11058
57089
1947
8054
46829
9039
146238
9989
311
102362
11162
6016
17186
13967
9053
4512
468214

31203
265208
45610
50135
1874
271331
215211
367961
10955
223702
254470
69
63
4967
9449
11499
4912
12771
459151
12506
24071
11249
9667
420817
277216
87
14444
2043
315664
1428
562
15373
318846
26320
671295
2018
192577
9428
109431
137093
699
9778
8831
9398
112949
10439
3638
23483
62206
10577
218778
4348
335984
11780
192102
2001
10383
11516
10025
15198
23172
17834
10016
10317
58431
9746
13092
59859
13495
254473
700
4964
10024
13490
15927
1259
5125
51876
174
9583
9325
9437
525
10188
63574
245
9825
9549
61891
27793
2666
12783
21295
13155
42807
28355
8080
5126
56288
303858
1613
13195
16617
8944
41488
37028
14560
10330
6957
1934
169917
951
10189
9454
2055
400710
5902
11460
9358
134
22894
134374
1901
15028
11509
17047
62838
2057
70436
16784
8011
31640
9092
2779
316002
36355
238615
1985
615
788
380
13223
846167
260346
239571
619
424
50014
162903
11024
57230
6466
254024
12589
7191
1497
117
6977
323675
634
392
10327
88042
41630
11969
2085
9286
77877
1265
866
175555
75174
11096
8699
769
10923
11283
111
11676
746
77866
9416
7345
14317
20694
12277
9779
2140
12620
14177
198185
227156
10735
55341
10030
10623
590
9655
1268
11237
190955
5123
4518
11932
11165
6116
57431
21724
278
9290
11543
152737
13374
8976
9469
1909
785545
22971
34813
46261
299536
8051
9352
10167
18147
17170
18975
15487
801071
11152
1831
10591
10861
276907
10074
65055
10397
200505
11954
59387
60309
9787
293646
6978
699046
59440
1770
10655
8988
15992
17707
40001
994
9903
31046
10501
24264
19803
20309
9912
326
9067
27360
8338
168705
580489
9729
94352
22256
12404
152742
11699
49953
261602
39845
25353
616324
109091
38543
33157
25423
760883
83770
168
1246
257088
4233
174751
184098
2069
11635
177
3600
2621
10358
10480
10313
18828
3558
13476
10208
24961
20697
20761
70868
43593
6478
40688
26672
45881
41283
4935
19908
10663
1891
38700
37137
9532
10316
2787
12658
152601
319888
10866
227707
21349
14844
14575
70435
580
9819
13579
20024
2453
6973
11156
22215
825997
11632
30596
3021
957
256917
1250
544
9021
6723
13680
688
11090
783
228194
1642
10950
235260
52520
8999
11323
10445
11453
146239
228066
205588
10878
82650
10279
2294
1635
2176
270487
19366
204082
24100
1599
5550
30379
42586
17709
287948
7548
326923
11661
109513
12085
204922
38985
671
21494
164457
4566
17795
1073
230015
81836
10724
9473
1499
20857
82693
1646
44944
4108
763025
7341
2020
19255
10187
31005
49517
353345
50780
16363
1946
85
772
840
9682
96
10678
274
8872
16290
579
14405
138843
11637
226486
8271
1584
460465
11208
12153
65057
8326
35690
76203
13497
35688
162
296096
103370
10073
16690
273895
14873
8968
9963
15655
76341
16710
9760
37430
314365
13279
1975
33644
1649
9895
9570
27579
16052
40264
1164
239678
240916
3989
76617
1710
4258
20391
10139
335778
9645
55465
617
19904
513691
243
6933
17182
8848
38
38303
1266
107985
14043
19901
34016
59860
10069
9588
12819
10115
25132
577
328387
12690
9945
11052
670428
13596
19114
13159
581316
526
22796
2355
5915
9842
61012
755
13682
9089
9470
17927
18357
7979
470
15644
8966
9582
10642
22074
2428
290751
13805
4597
9414
63492
81796
10710
15092
11382
15005
8198
6963
348893
12797
17134
41402
18885
4953
10773
146198
2639
10563
295964
5971
9716
34803
11835
26171
31117
14396
15673
42618
171274
24432
109417
170085
13948
106747
10929
14220
46435
256962
48231
3509
82684
12142
23367
10740
241239
14582
14914
3902
77948
21755
4960
128
14652
40932
16608
843906
32316
7299
13405
19457
112937
334541
8953
29078
46503
10448
13688
10353
43935
11458
44638
241257
32091
14538
844398
133931
325343
239897
184341
334074
199373
14202
6968
581
52449
12150
11247
646385
9378
694
105
11377
26367
385383
41210
12090
62630
4771
16110
29427
698296
41417
2669
203833
13523
25195
17277
50725
82631
15167
22479
340611
10065
2757
11683
244339
1878
23082
195589
854
850818
496
8835
157
8643
10402
9043
21301
10147
816
302688
60307
106
279
8617
10625
10934
5279
360953
10013
194662
160588
9829
63710
9665
10535
43959
10364
16991
9610
1578
25643
11904
28665
44115
10569
10560
333348
20483
11457
321697
19840
22327
38665
2575
11644
146227
68924
253235
22102
18701
74023
848
36811
522
130150
12246
13809
27380
33870
245703
10739
127560
418437
37903
35196
10017
11468
193613
17436
43434
31166
69848
332411
258670
461708
9626
75638
8363
15670
290555
8328
10982
205
1620
175541
9837
428501
1933
49849
11113
3597
193893
9675
9988
177572
21765
146304
7516
2752
20526
9429
38117
9792
13778
228203
41382
13960
114150
26602
10223
618162
15639
16112
26390
27759
764
23049
9310
11411
16988
7304
24747
58048
359983
10629
255343
4723
10800
25763
79694
4032
18615
1491
106646
4584
2977
10760
11093
207
100042
639
24226
9285
14709
74643
83666
10781
318850
13908
1417
9966
39180
16161
49950
10956
9594
4638
13972
5038
13491
376659
10571
10994
19994
25166
30890
218043
23169
17403
12120
9800
1090
18475
781728
18074
9689
9781
8009
3877
39254
152599
18840
12657
8265
105864
34647
28178
185567
264656
35696
16351
11017
18777
2110
9035
90
654974
12154
9576
744
263341
14
45269
9493
22556
873
623464
205596
10765
16769
774741
132232
11153
208134
1165
4011
17202
331482
65086
10053
11778
586
18736
287903
9276
15765
2142
11397
77016
24615
11478
266856
13411
10564
947
656991
6961
11442
18823
2493
14047
64690
11132
17127
1562
232679
17880
14736
9434
23706
11531
590995
116
38843
1245
4995
10413
14012
18477
12212
13768
8975
342521
45272
9424
97367
254904
18681
12162
532710
64689
157849
13166
15511
37003
12211
13816
51828
22798
7501
10743
37718
15237
9686
17644
321494
12257
13539
68
14024
11336
115
7874
4911
1988
16222
9557
9026
18276
8321
72359
10186
25704
133694
19265
36047
8053
2290
5236
6552
1018
10075
38031
42188
52036
6687
13853
31306
8461
331592
47692
19
10045
400
36584
9104
15969
16353
23759
24206
10185
75033
74536
31668
13501
15208
172391
262543
9288
370980
20083
40880
137
264999
454
53457
1646
33
1951
12405
10998
114
5919
9396
319910
2604
864
14435
77883
1368
1931
691
889217
9877
859
62008
12227
12545
71688
15173
8291
13950
12158
11586
10008
2830
12403
34563
14557
10368
10280
12637
34152
14434
11470
11870
10741
24940
82679
2013
1440
18041
28029
1123
14033
87729
16899
41317
245700
810081
9045
44092
16005
44754
23988
43949
142
98566
9603
10712
243938
10876
86838
25208
22023
913862
1913
97370
801
70829
54518
44214
5548
240
9816
10131
339984
8859
11967
239563
222899
4951
10985
9644
332567
1954
15489
15250
22345
9448
38223
11186
136835
5876
264660
492
25462
238603
10691
1251
5172
58680
522681
14577
11592
16406
19052
3682
9683
2084
107811
2266
13074
144340
48217
28211
47502
7445
9950
84892
24227
703134
157544
59678
79777
158011
407887
17043
8952
368421
13435
17187
319
59457
9504
37414
26688
1732
6615
14574
16
39780
21612
36691
23631
45324
12144
11658
56601
9552
578
2105
126319
10136
184098
10611
154
3049
860
9281
75674
9762
3179
184
13335
76726
10269
36819
57214
11202
9357
13812
9030
19084
8386
10437
36557
375794
101267
222935
10220
284296
11980
11601
205220
11354
16241
14191
286565
26710
129670
9059
34549
57157
15092
28353
46889
38093
14976
11027
3635
387
10733
6020
122906
726775
60599
227719
14299
19419
826749
14799
9466
7510
31246
61752
10944
10362
14778
72710
45226
10212
8669
421635
16857
86825
844
8060
15907
38448
10009
9260
61337
13079
89325
327833
41508
12479
10133
21345
173931
660681
50601
26466
345003
236751
357837
8913
13889
18530
358451
927
11
291870
907
206563
11887
45317
12094
10377
249164
256092
9942
10748
1817
10229
687
796
22804
12837
17708
13937
28932
20424
167073
3175
14369
28333
121826
10646
12149
304357
11184
766
20009
1587
30973
11109
9027
63020
86829
13888
42345
13994
1590
243688
62728
11917
45138
882206
4657
14395
24137
190847
54138
62
601
13067
25379
88641
319389
611748
14877
96399
304410
489
373314
214
10890
1588
316727
10314
25793
663
11804
16781
11873
9289
10414
1970
9614
8922
1648
17917
74534
19405
9355
753232
321258
44040
10426
280092
527774
107
10163
12182
1832
9034
15301
10135
26352
20616
9794
15037
227
294272
11336
283445
88036
380764
22824
9526
39349
15983
14544
11545
42684
268238
8359
15648
41823
11891
9362
630586
14729
9455
103731
10090
164558
19905
17710
75900
9515
27322
14120
10050
1542
10490
87093
10029
9893
11507
37931
3472
87818
37710
13160
88005
52067
7980
73
134597
24034
14283
404
13201
209403
7942
73247
253331
398289
9952
256924
82532
881605
134371
2088
10388
25520
8446
13689
67911
24664
329440
47890
252512
55720
634649
430682
29339
68812
118665
496318
14195
73567
41479
15394
10071
1989
91076
12779
13191
11770
12703
417267
222649
115872
101173
25350
10034
20178
5072
18191
31007
11546
41894
184374
268171
78149
24663
39037
22805
39055
245846
25186
15017
12245
890601
16358
7006
66767
17622
283671
18516
217708
42057
17577
14608
34417
15067
78383
43090
16614
752623
10471
250066
667
208869
86837
10306
106845
11576
219
11827
22820
31174
244316
37737
62215
585245
132316
126889
27586
14811
660
68684
24558
9400
16162
10585
2359
238636
10472
11282
6521
14181
1621
9656
16428

10705
8272
24621
1619
9685
14425
14624
478804
10179
15568
14057
12621
1808
293670
67675
27329
29514
250349
12454
39806
15699
59108
8883
17926
291081
346685
25968
9671
52010
11588
43418
71157
615658
12180
327833
1547
25196
192
175528
8069
414405
316727
16727
272693
10696
150202
19644
29963
26022
68817
152747
554371
20360
1116
185008
38575
11620
14353
11818
680
11176
242582
11217
15121
2619
773
265712
170
14114
10734
37964
28121
40807
11324
16281
225565
16471
385736
91739
668
10403
11596
14429
13751
9490
14536
231
1359
9962
417489
22821
42819
209263
37735
59930
10873
51588
23570
19489
14629
8293
45610
291270
44009
11332
13154
26618
43923
46138
45791
26306
110683
26963
198277
7870
13072
47760
30141
17044
10288
12183
44147
12192
25095
13197
10913
251321
404579
10425
49081
256687
43848
1544
374461
302
182873
21512
389425
403
29461
33542
283708
9388
1691
24684
2610
11308
11022
34341
15365
36046
12569
24356
55903
2577
103903
1640
73873
312113
14165
2011
682532
619263
301365
25941
559
29064
326284
681
238
535
19913
713
77930
10727
253
17908
8390
57119
64682
3291
398
8068
44853
275
10803
682
10117
9392
24977
79316
2074
1696
10206
308639
22314
37724
2662
77156
12573
44718
11342
241771
34653
11051
14578
57825
9555
15581
13006
9322
555748
19384
4251
12400
39053
104896
14112
12271
71859
226354
48620
33676
37080
25388
11687
39210
30128
31535
44835
192134
1956
24985
306745
47088
110402
27004
15013
8374
277519
78381
16174
8879
13001
9571
13649
325373
334527
2211
13919
14576
82505
46738
38970
41009
7347
250546
38415
650
16620
25113
11033
34723
743904
8998
10514
10496
1591
76025
4836
14631
87499
18923
26665
28089
565214
9636
218
338
21641
43011
2293
621
792
1777
642
433
16619
10204
511809
11977
4442
16158
629
10160
11452
12163
32275
13785
1103
36739
14144
200584
13370
11191
11706
10215
25066
1523
11361
92591
12509
15256
83686
80304
28053
67913
13991
1443
8545
19556
231576
16172
177494
13403
15797
347764
13537
20794
31064
576
13990
5698
18602
27549
59728
10930
316029
58882
7547
35944
84228
13827
44260
9282
38940
35689
97614
37206
58626
556678
837
1555
244783
11892
16564
168027
346685
135595
45408
89861
69798
455
57022
14351
147767
185341
55567
9277
9443
16186
7863
138697
11901
1548
395763
33155
39949
321
643586
925
27451
73532
979
193722
7913
340666
51995
566525
22908
252004
84204
25248
230266
16633
63006
91586
215
333371
9012
345911
72571
242512
10072
328425
667706
82990
29912
11843
11284
458576
227348
1955
152532
243940
77
157547
2295
71
147773
16096
24266
16508
410129
15660
59968
51620
19848
753232
256274
235271
45153
284293
24973
21610
10283
8346
122081
10987
1391
747
14745
26748
11357
24913
13776
14854
50357
13090
192141
16441
29996
351819
14834
22649
378200
20455
13193
11042
10786
12484
17339
11959
9900
14662
473831
337170
580096
21014
78394
10217
46332
13996
3028
1024
343795
45658
16148
4553
36351
245916
27585
1415
313922
14474
199933
13685
8744
38428
8847
46838
51384
37774
41730
18442
298312
11600
29562
57876
644787
13849
14849
12486
19615
457840
244403
292481
340816
78814
297596
299552
11935
113406
447027
290825
361159
12555
31175
12498
77949
1690
8435
64720
49365
11404
300706
16337
11577
77987
40330
68202
127501
8981
10914
50848
166624
10822
39269
9336
5689
712
13342
10339
1429
11159
9702
641
27686
9618
6106
252680
141
66607
951284
12079
39800
4550
62116
9991
87901
68818
12093
36419
299618
510
362105
10970
375290
17663
270938
116613
11826
18391
1088
60468
425972
10693
10947
44629
47452
40387
11386
10246
29426
153
703
27191
147441
1365
287424
451
165864
10925
987
241251
40494
2360
39781
8337
5925
8357
146203
85350
512
869
13408
47816
10744
581644
9782
18713
43931
6537
184345
1809
2370
9809
5
11013
19153
10132
16448
15122
810731
1546
48572
14517
89708
27551
64678
309503
14293
15059
103328
568620
25719
176241
27723
20468
242575
301608
29122
125123
111190
133575
54580
52015
34941
227975
60422
81390
890825
225235
14902
121676
22301
20065
257087
46420
61148
158150
251979
665
874
10774
770
266102
29715
44953
25209
37495
11093
34769
175112
5178
8618
48138
651
3116
813
352978
10634
9516
169209
16288
23330
18900
27029
26268
573
310131
40505
11363
323027
25376
485415
718930
765
10615
205321
89540
730840
38007
80035
14256
540
370464
20055
224569
207703
39303
142061
370662
256740
299145
241766
12535
1667
50839
5123
13973
244786
598
11129
51828
13551
514847
850
637
11564
301748
108346
63193
805
11697
696806
436
55347
10070
8469
658
125490
1585
627
23618
41436
10162
1430
31657
10014
11257
158015
82507
20337
261
1685
20737
10991
10225
826
34086
5854
284
10285
5780
292
223485
29463
18065
22013
821
834500
42979
3089
30139
132344
15582
15158
44634
30309
619979
10557
17314
28005
40247
252
24126
13982
16642
17734
18892
549
121986
868
10683
17995
246403
87516
35691
49010
317930
11229
22488
24469
82533
73963
84174
763
34099
79940
284536
120467
81030
281230
38033
100975
38541
24021
774021
27404
12092
617809
71866
192210
180296
157058
70006
531503
79587
176077
24808
342502
471429
11224
43213
44594
547239
248
325173
55831
351043
43942
794
191473
66942
356483
10476
239
10281
630
3034
13025
21461
55306
17264
16016
15875
314034
43306
11072
9730
818192
26371
14137
2900
291
14139
8875
872
72914
139038
126509
24150
9591
10676
1687
24748
181330
468
401
76
50538
25636
19316
21074
84329
20
157386
53905
13007
13518
116584
9472
46849
40428
17334
32686
20764
37686
76706
254472
332285
49471
13569
7512
356216
11798
49265
43546
61038
78373
17820
74457
19933
756
1051
611873
9728
9731
9916
309425
14156
43610
13510
31163
297621
16205
887
9517
6007
364083
8329
69640
371085
347548
322443
657
28165
10633
11561
270303
11624
595
8810
12207
9769
226
92182
582
72213
990
55604
9662
20862
2771
80
55
298
33667
39013
11194
43839
1382
44639
301351
4816
7873
244761
15186
17994
13141
10688
1378
8885
48382
12901
250124
24584
530382
57120
12228
22617
55561
42889
10656
24363
669671
24746
325140
12109
27023
273899
37943
20653
67373
171759
206296
35219
28260
267860
13075
12770
343668
13510
215881
18238
22600
12612
50698
115210
34335
459488
11302
119458
20406
75258
3766
18616
638
95755
198062
188652
174311
12602
441168
17768
13516
98549
312793
309919
299553
21309
32235
329540
26388
49020
401246
533641
7342
157293
377
14048
356987
295886
38358
33511
702
935
542
84175
1705
62677
50875
322288
58492
44562
37232
4929
36334
9783
386826
205126
98557
104
10894
246449
484626
32579
1688
1999
43947
24066
9709
191714
10201
34106
11426
13909
206284
56193
66468
618798
283686
765119
592
74084
1651
25428
11547
924
10758
11690
3083
10054
10707
15647
44555
308529
4174
20156
9464
49018
13820
18079
127918
17113
129139
507
4012
14054
323271
10972
13066
66025
11908
3082
39541
1961
51820
291362
30082
477666
23963
29406
361505
104755
253306
29595
46729
873941
137347
290370
356841
75780
768334
347755
408
44413
39209
48463
394047
621793
149777
280381
64202
100
218500
321347
309
27845
25784
52790
100275
8838
295914
42033
19187
46415
38570
27588
223
9725
28580
23730
84197
46256
19997
43266
17680
278316
1412
176
39939
357834
215924
10200
480
14295
11219
186
20770
176124
500
60400
429
340852
98369
114065
89750
49951
86331
355629
16433
15544
43884
107315
137955
13064
59917
157422
310933
7553
12877
9885
39895
102840
55616
29697
50037
94329
53502
202604
289
27374
26815
811
1366
68522
791
5769
277685
103
11298
646
93856
9003
347126
10092
10643
46705
546
76487
5722
39833
1781
18712
7944
171424
361475
113947
18570
83860
41469
7326
244772
50837
248774
10183
159014
32456
49963
9427
13508
22597
9707
257445
445605
26791
489856
10156
8675
13132
47686
46989
207490
192132
24424
13198
244267
21413
7980
123678
13362
39183
62402
206412
201132
251471
112456
20296
25983
66195
16155
46727
55180
29015
91122
18206
320146
728144
219716
43630
56491
99826
186935
357441
19344
242083
18869
26673
41830
442064
63287
335874
34592
92635
226188
96534
21283
272724
84178
653839
52462
269057
287524
206213
248402
68727
29146
207769
43829
271185
29731
292539
654
91070
2009
323270
2652
9813
60421
157354
127867
3170
14014
134411
15708
458918
215918
84200
84184
45767
14823
433694
343409
506815
57294
11446
47889
25461
919732
279759
78705
25212
26899
146269
292483
792339
10105
618585
838
40862
13158
84332
74510
74725
58428
13788
48614
36584
13429
9022
22530
288
14275
2287
2612
18734
206197
26837
254
10066
7859
302579
51955
376004
158752
40658
296943
537915
138976
116745
3080
2667
9459
11598
26916
181940
125263
263503
324322
201078
331493
450489
278348
704
70875
75986
385636
14438
211086
495193
83
89857
30315
14358
2056
41144
35199
14271
16653
14757
84401
11688
36825
33430
12281
125052
36670
30246
7301
172533
180383
535470
84318
45145
13983
45649
634649
19844
21801
585
73511
43653
139715
45380
30867
81220
253626
294550
90369
117942
36224
15392
98568
380733
285743
362765
379532
253261
297100
68728
15239
94072
4107
325579
15624
17287
198370
3062
328307
15389
257238
20653
8193
188166
609972
1282
762
64499
281189
615677
1435
47546
189711
449575
622146
9029
18045
11240
43743
858385
10238
3059
15800
65203
764
103620
319069
14278
25678
79161
85446
371690
610253
389
52032
3078
799695
21525
55123
11980
190262
1550
162396
26518
8942
68412
2786
87943
73981
91721
118452
47534
40914
4688
241259
13282
250184
426067
324352
318040
27420
80468
84188
2255
50035
292525
14290
29371
44490
32222
378237
431
76996
51942
1921
60420
325123
142132
80318
109729
250745
78307
12247
29917
70687
60463
561362
24869
77934
260861
1954
320435
199373
57943
306667
274758
3060
40963
173224
18533
376010
508138
77332
70478
35073
173
76341
10218
391
43595
194588
54897
19688
939243
40920
287815
109421
54702
176074
69270
5759
927998
126141
48035
14758
13363
37985
25786
36549
361398
84348
288927
21334
840882
27995
253290
462037
55420
283384
5822
408429
39141
741074
28666
30979
50497
354624
30497
13187
335244
178862
331745
1779
6217
282128
86812
38786
84355
18632
19185
40652
339408
266857
18925
299245
985
563505
34101
9821
65448
18841
272726
175291
80215
382270
294368
270554
72086
268917
18405
64973
87827
90414
111794
360188
9372
85860
244534
33468
294086
139998
74777
16388
159770
42109
47607
193603
208333
322745
20981
174362
242095
250902
158895
29911
18292
125537
326576
228550
13963
290391
44770
69382
40769
220490
42151
2292
42497
33693
14585
144336
185465
427641
14022
366967
255266
17345
226458
687372
24055
287625
44990
86304

692
689700
157185
6715
182291
286939
11708
14337
67238
9367
72766
231617
46495
365441
126186
25975
166426
791373
284053
283995
245842
279988
326241
283995
306943
464052
252983
339988
353616
354216
360970
207680
392418
305342
300665
403119
374471
388256
354859
402529
339967
394822
324560
364410
10861
322548
400221
365942
411019
381289
382127
411873
345922
324542
340837
476669
47971
292280
395982
324849
480919
383785
1873
401544
256569
381008
429238
566525
433244
428645
159138
362585
324552
419430
263115
293167
408626
180863
354282
397837
416477
411741
425591
274857
10020
433245
459151
618344
717682
398818
414190
435921
408272
428449
315837
429698
897243
413882
341174
346681
65869
426830
420245
334535
340584
20367
26123
429199
85126
21208
357102
430780
431244
426580
406385
382883
337844
363126
385761
338387
330947
401104
346650
470352
381064
379019
575291
255499
428493
429191
436339
429732
291994
371447
529106
438137
431093
382597
417263
397992
336000
588064
405204
381009
434661
340101
433356
410117
354285
317560
416166
430128
434616
345938
11846
9487
403867
445602
347882
367147
476669
423536
305470
126889
419522
334521
430826
68718
49051
401546
424634
47853
388202
437031
441168
392207
453405
216983
430156
408435
444193
396810
417644
353569
353070
286538
398929
352501
431937
428687
447758
401743
403390
397415
727293
646376
564082
137116
376134
429662
446076
289222
468371
44620
400928
408647
763149
425716
445727
424998
342472
322487
417678
417830
436340
28959
440642
339846
418437
373569
564
404584
337339
440249
426265
421443
419700
333354
392818
381032
397442
268531
346034
426230
418078
424488
413998
347627
394770
260514
359784
400136
431071
550668
445993
9954
435737
382614
425751
411013
405775
200708
443319
50123
424600
399217
412202
333384
496704
390883
271404
321757
425134
426264
403431
450945
390054
443297
430263
435366
291276
301372
411405
453596
413391
393172
348389
79698
350312
441483
447352
439998
369697
29854
203835
399019
452166
339403
387426
425935
397422
381518
850490
447818
383538
444713
447113
426256
36826
446493
402582
456348
408381
401065
390059
429070
302150
398920
429107
448448
456781
324852
413762
401164
456187
424208
406107
825824
375183
363992
422128
449503
423988
316154
281338
414455
293768
452413
341689
396398
354287
438493
412363
447061
448449
339964
327253
431714
433878
447236
400552
73935
401359
382589
76812
453053
436305
378111
720998
419192
456098
340027
41157
452068
451644
460024
448763
426469
356752
457962
445224
406990
413644
433945
436343
341013
673632
456101
435821
339987
336890
374720
411717
434758
345915
439502
432602
461955
436932
434119
443700
44470
437311
411012
411007
335988
399790
441881
448847
441728
416691
460822
457470
326446
539885
412105
430598
429200
412758
436882
613319
438081
449742
926899
449758
440143
433054
438634
436352
373546
269795
398924
352494
463800
432615
359749
415086
763025
455675
345916
353491
458335
440266
433630
417489
666624
404733
348391
458506
88
355193
59965
390747
464207
378236
407531
463906
440708
442750
395834
428495
694681
339692
461053
421126
864390
417870
419459
407448
414453
438665
762433
14566
454774
433410
423453
451955
410554
450875
417320
432025
434166
435473
281260
53621
460135
426272
413421
432789
445126
468707
461297
831223
406563
426258
348389
468210
399035
442064
479040
440424
460216
436355
430447
429351
449443
417261
336843
36593
338768
416234
429191
450932
384521
497269
522478
337167
453201
498919
390059
823609
407719
284054
387592
36826
785457
442709
438145
474392
445571
300668
465136
469721
429467
401981
395990
353066
279641
457312
407451
80389
397722
402897
449749
371608
430040
338970
449176
470878
433627
502426
414187
421471
268896
399174
370567
467660
476968
345317
419478
805678
333339
464502
454286
453405
451204
520763
437557
398181
432301
497802
407890
425373
399248
427641
460019
453278
433694
460668
50022
473149
433503
482150
299536
419743
476678
147441
454619
400579
467632
298096
81188
399796
497814
341735
594
467938
383498
502682
458737
505205
425148
348350
341689
454286
440038
411135
454283
429300
500664
489931
506407
402900
490003
493922
406761
500475
260513
455980
391714
339103
351286
447682
414018
426814
400535
443463
474335
396373
442249
363088
424781
507256
400155
447200
489925
443009
476335
458423
345887
489930
505058
420426
446132
353081
474395
506763
347866
492998
429415
420814
445651
454992
426613
490005
477510
345940
487558
439015
448776
455207
399360
347375
340613
385360
458344
421792
466282
412988
489999
433498
438590
493551
874948
455108
489929
439079
458594
346910
438808
484247
467936
460071
506680
532973
463821
446696
440161
446101
454652
532908
750253
511972
505262
446894
454293
429203
429476
335983
332562
470044
539199
427214
369972
446021
442062
451915
520596
537751
448557
610253
401847
437586
417812
451919
399402
463272
361292
514407
502791
424694
426543
514619
472451
475132
431491
476764
360920
446807
438799
537996
472054
637792
338952
401469
491418
404368
480530
490132
20662
426426
375262
407436
434555
461928
517814
457136
492452
324857
428078
504172
465914
400650
297802
424783
351044
503616
517104
426563
307663
339380
471507
569547
522681
561362
567738
508763
440472
300681
414777
450465
460321
516630
554739
454294
452832
505948
565743
500852
463684
440444
280217
487297
438650
510498
532671
449563
512196
399579
166428
445629
464504
471506
399361
299537
38575
400157
429471
519473
433502
527641
500682
536434
498743
449985
929436
416144
327331
438674
11360
441384
576071
287947
8913
458131
376865
423949
503706
770
527261
456740
526050
458253
537915
520679
514439
270946
480414
396461
459151
450487
515248
369196
299534
537476
555295
547012
459992
524247
454458
457799
502292
447404
449562
468224
574241
411728
458156
522518
508791
411728
473019
565391
420817
531309
505600
529962
513576
373571
504608
502416
320288
412117
523172
522039
575381
479455
486131
535581
514999
508101
502149
301528
484641
10585
521029
515195
428836
535265
429617
480042
530385
513045
511987
531503
565310
529149
8587
466272
327833
465003
384018
500922
574207
499701
487680
522924
417384
463257
527385
441183
454640
521777
534259
405177
480105
543768
567609
423204
529862
527776
2291
508138
393624
539651
513208
509853
474350
539364
621742
472674
540901
565341
417466
772272
419704
535544
522938
543917
523077
568091
431580
517909
491283
853588
475557
340104
528888
523139
493066
619262
15138
453405
639721
476669
620725
431075
559969
420809
338967
515001
503919
10877
578189
418879
599975
489245
505060
290859
504562
398978
506528
416153
492188
501170
549053
554241
295151
522162
508965
512263
10340
454467
359724
458897
511322
524348
533444
330457
501907
535292
552178
546554
536743
551332
366668
514921
499566
537788
512200
292011
9656
509967
525661
473033
510298
403300
181812
10992
606856
431693
331482
530915
522212
565307
1970
443791
526019
418533
634904
477036
527534
38700
448119
651070
522627
492611
442065
197725
466622
542224
495764
474764
550440
653601
565426
454626
539537
589049
560391
663255
520390
481848
505225
555974
556678
526007
566927
570670
342470
457335
508439
529485
581600
627725
566872
874562
558582
338762
514847
585244
567970
382748
567714
595671
539617
535987
491926
660609
615177
446893
624808
637157
546724
686142
684420
653744
560044
545609
693594
530723
689723
530956
605804
597219
560204
482273
429422
582596
385103
691812
513268
576156
602147
606679
547017
339095
601844
581859
475430
579583
702936
451184
707886
531454
595148
592834
677638
556574
539181
706510
547016
694919
516486
587792
714375
603119
718840
608195
315064
583083
587496
703745
550231
523977
664297
531499
505707
605116
454433
653598
508570
625568
517412
493065
523781
577922
501979
340102
520900
500840
594328
615466
680028
647265
337401
665877
659986
594084
623491
632666
499932
616251
611114
707408
726739
615115
627290
545237
536396
479259
803708
497582
556984
539885
541305
653606
621870
664498
597156
519056
575417
604578
567971
435615
595149
660982
539649
617505
715123
552532
425001
475303
593427
620897
643550
732713
624963
590223
553604
630566
507712
720755
509635
710356
664184
531219
560050
613504
516632
10823
317198
524840
590995
615665
571384
556501
596161
466081
680593
592984
614560
551804
622855
480434
602211
667869
595931
682377
643882
910596
502033
622977
590706
472815
529203
520172
615667
654028
634544
768141
521007
447362
526702
611213
632322
662546
646593
624788
623856
614911
721625
628333
727306
540023
643612
633908
727097
653665
458576
524047
549514
560144
239523
584288
464052
508442
615677
661914
582014
641662

In [248]:
final_df

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb,movie_id
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James C...,19995.0
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore ...,285.0
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre,Christoph Waltz Rory Kinnear Stephanie Sigman ...,206647.0
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises,Tom Hardy Christian Bale Joseph Gordon-Levitt ...,49026.0
4,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary,star wars: episode vii - the force awakens ...,Doug Walker Rob Walker unknown Doug Walker Doc...,140607.0
...,...,...,...,...,...,...,...,...
6117,Pete Docter,Jamie Foxx,Tina Fey,Graham Norton,Animation Comedy Fantasy Family,soul,Jamie Foxx Tina Fey Graham Norton Pete Docter ...,508442.0
6118,Robert Rodriguez,Priyanka Chopra Jonas,Pedro Pascal,YaYa Gosselin,Action Fantasy Family Comedy,we can be heroes,Priyanka Chopra Jonas Pedro Pascal YaYa Gossel...,615677.0
6119,Regina King,Kingsley Ben-Adir,Eli Goree,Aldis Hodge,Drama,one night in miami...,Kingsley Ben-Adir Eli Goree Aldis Hodge Regina...,661914.0
6120,Emerald Fennell,Carey Mulligan,Bo Burnham,Alison Brie,Thriller Crime Drama,promising young woman,Carey Mulligan Bo Burnham Alison Brie Emerald ...,582014.0
6121,Kornél Mundruczó,Vanessa Kirby,Shia LaBeouf,Molly Parker,Drama,pieces of a woman,Vanessa Kirby Shia LaBeouf Molly Parker Kornél...,641662.0

In [253]:
final_df.isna().sum()

director_name     0
actor_1_name      0
actor_2_name      0
actor_3_name      0
genres            0
movie_title       0
comb              0
movie_id         27
dtype: int64

In [254]:
final_df=final_df.dropna(how='any')

In [255]:
final_df.isna().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           0
movie_title      0
comb             0
movie_id         0
dtype: int64

In [256]:
type(final_df)

pandas.core.frame.DataFrame

In [259]:
print(final_df.dtypes['movie_id'])

float64

In [211]:
data = pd.read_csv('main_data.csv')

In [260]:
final_df['movie_id'] = final_df['movie_id'].astype(int)

C:\Users\Nik\AppData\Local\Temp\ipykernel_6440\4152010622.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['movie_id'] = final_df['movie_id'].astype(int)

In [261]:
print(final_df.dtypes['movie_id'])

int32

In [262]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6095 entries, 0 to 6121
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   director_name  6095 non-null   object
 1   actor_1_name   6095 non-null   object
 2   actor_2_name   6095 non-null   object
 3   actor_3_name   6095 non-null   object
 4   genres         6095 non-null   object
 5   movie_title    6095 non-null   object
 6   comb           6095 non-null   object
 7   movie_id       6095 non-null   int32
dtypes: int32(1), object(7)
memory usage: 404.7+ KB

In [1]:
final_df

NameError: name 'final_df' is not defined

In [263]:
final_df.to_csv('main_data.csv',index=False)

In [264]:
data = pd.read_csv('main_data.csv')

In [265]:
data

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb,movie_id
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James C...,19995
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore ...,285
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre,Christoph Waltz Rory Kinnear Stephanie Sigman ...,206647
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises,Tom Hardy Christian Bale Joseph Gordon-Levitt ...,49026
4,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary,star wars: episode vii - the force awakens ...,Doug Walker Rob Walker unknown Doug Walker Doc...,140607
...,...,...,...,...,...,...,...,...
6090,Pete Docter,Jamie Foxx,Tina Fey,Graham Norton,Animation Comedy Fantasy Family,soul,Jamie Foxx Tina Fey Graham Norton Pete Docter ...,508442
6091,Robert Rodriguez,Priyanka Chopra Jonas,Pedro Pascal,YaYa Gosselin,Action Fantasy Family Comedy,we can be heroes,Priyanka Chopra Jonas Pedro Pascal YaYa Gossel...,615677
6092,Regina King,Kingsley Ben-Adir,Eli Goree,Aldis Hodge,Drama,one night in miami...,Kingsley Ben-Adir Eli Goree Aldis Hodge Regina...,661914
6093,Emerald Fennell,Carey Mulligan,Bo Burnham,Alison Brie,Thriller Crime Drama,promising young woman,Carey Mulligan Bo Burnham Alison Brie Emerald ...,582014
6094,Kornél Mundruczó,Vanessa Kirby,Shia LaBeouf,Molly Parker,Drama,pieces of a woman,Vanessa Kirby Shia LaBeouf Molly Parker Kornél...,641662