In [1]:
import pandas as pd
import numpy as np

In [2]:
anime = pd.read_csv('anime_with_synopsis.csv')

In [3]:
anime.head()

,MAL_ID,Name,Score,Genres,sypnopsis
0,1,Cowboy Bebop,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space","In the year 2071, humanity has colonized sever..."
1,5,Cowboy Bebop: Tengoku no Tobira,8.39,"Action, Drama, Mystery, Sci-Fi, Space","other day, another bounty—such is the life of ..."
2,6,Trigun,8.24,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen","Vash the Stampede is the man with a $$60,000,0..."
3,7,Witch Hunter Robin,7.27,"Action, Mystery, Police, Supernatural, Drama, ...",ches are individuals with special powers like ...
4,8,Bouken Ou Beet,6.98,"Adventure, Fantasy, Shounen, Supernatural",It is the dark century and the people are suff...

In [4]:
# anime['tags'] = anime['Genres'] + anime['sypnopsis']

In [6]:
anime.head()

,MAL_ID,Name,Score,Genres,sypnopsis
0,1,Cowboy Bebop,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space","In the year 2071, humanity has colonized sever..."
1,5,Cowboy Bebop: Tengoku no Tobira,8.39,"Action, Drama, Mystery, Sci-Fi, Space","other day, another bounty—such is the life of ..."
2,6,Trigun,8.24,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen","Vash the Stampede is the man with a $$60,000,0..."
3,7,Witch Hunter Robin,7.27,"Action, Mystery, Police, Supernatural, Drama, ...",ches are individuals with special powers like ...
4,8,Bouken Ou Beet,6.98,"Adventure, Fantasy, Shounen, Supernatural",It is the dark century and the people are suff...

In [7]:
anime.rename(columns={"Mal_ID": "id"}, inplace=True)
anime

,MAL_ID,Name,Score,Genres,sypnopsis
0,1,Cowboy Bebop,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space","In the year 2071, humanity has colonized sever..."
1,5,Cowboy Bebop: Tengoku no Tobira,8.39,"Action, Drama, Mystery, Sci-Fi, Space","other day, another bounty—such is the life of ..."
2,6,Trigun,8.24,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen","Vash the Stampede is the man with a $$60,000,0..."
3,7,Witch Hunter Robin,7.27,"Action, Mystery, Police, Supernatural, Drama, ...",ches are individuals with special powers like ...
4,8,Bouken Ou Beet,6.98,"Adventure, Fantasy, Shounen, Supernatural",It is the dark century and the people are suff...
...,...,...,...,...,...
16209,48481,Daomu Biji Zhi Qinling Shen Shu,Unknown,"Adventure, Mystery, Supernatural",No synopsis information has been added to this...
16210,48483,Mieruko-chan,Unknown,"Comedy, Horror, Supernatural",ko is a typical high school student whose life...
16211,48488,Higurashi no Naku Koro ni Sotsu,Unknown,"Mystery, Dementia, Horror, Psychological, Supe...",Sequel to Higurashi no Naku Koro ni Gou .
16212,48491,Yama no Susume: Next Summit,Unknown,"Adventure, Slice of Life, Comedy",New Yama no Susume anime.
16213,48492,Scarlet Nexus,Unknown,"Action, Fantasy",Solar calendar year 2020: grotesque organisms ...

In [8]:
anime.head()

,MAL_ID,Name,Score,Genres,sypnopsis
0,1,Cowboy Bebop,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space","In the year 2071, humanity has colonized sever..."
1,5,Cowboy Bebop: Tengoku no Tobira,8.39,"Action, Drama, Mystery, Sci-Fi, Space","other day, another bounty—such is the life of ..."
2,6,Trigun,8.24,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen","Vash the Stampede is the man with a $$60,000,0..."
3,7,Witch Hunter Robin,7.27,"Action, Mystery, Police, Supernatural, Drama, ...",ches are individuals with special powers like ...
4,8,Bouken Ou Beet,6.98,"Adventure, Fantasy, Shounen, Supernatural",It is the dark century and the people are suff...

In [9]:
anime.drop(['Score'], axis='columns', inplace=True)

In [10]:
anime

,MAL_ID,Name,Genres,sypnopsis
0,1,Cowboy Bebop,"Action, Adventure, Comedy, Drama, Sci-Fi, Space","In the year 2071, humanity has colonized sever..."
1,5,Cowboy Bebop: Tengoku no Tobira,"Action, Drama, Mystery, Sci-Fi, Space","other day, another bounty—such is the life of ..."
2,6,Trigun,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen","Vash the Stampede is the man with a $$60,000,0..."
3,7,Witch Hunter Robin,"Action, Mystery, Police, Supernatural, Drama, ...",ches are individuals with special powers like ...
4,8,Bouken Ou Beet,"Adventure, Fantasy, Shounen, Supernatural",It is the dark century and the people are suff...
...,...,...,...,...
16209,48481,Daomu Biji Zhi Qinling Shen Shu,"Adventure, Mystery, Supernatural",No synopsis information has been added to this...
16210,48483,Mieruko-chan,"Comedy, Horror, Supernatural",ko is a typical high school student whose life...
16211,48488,Higurashi no Naku Koro ni Sotsu,"Mystery, Dementia, Horror, Psychological, Supe...",Sequel to Higurashi no Naku Koro ni Gou .
16212,48491,Yama no Susume: Next Summit,"Adventure, Slice of Life, Comedy",New Yama no Susume anime.
16213,48492,Scarlet Nexus,"Action, Fantasy",Solar calendar year 2020: grotesque organisms ...

In [11]:
anime.isnull().sum()

MAL_ID       0
Name         0
Genres       0
sypnopsis    8
dtype: int64

In [12]:
anime.dropna(inplace = True)

In [13]:
anime.duplicated().sum()

0

In [14]:
anime.head()

,MAL_ID,Name,Genres,sypnopsis
0,1,Cowboy Bebop,"Action, Adventure, Comedy, Drama, Sci-Fi, Space","In the year 2071, humanity has colonized sever..."
1,5,Cowboy Bebop: Tengoku no Tobira,"Action, Drama, Mystery, Sci-Fi, Space","other day, another bounty—such is the life of ..."
2,6,Trigun,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen","Vash the Stampede is the man with a $$60,000,0..."
3,7,Witch Hunter Robin,"Action, Mystery, Police, Supernatural, Drama, ...",ches are individuals with special powers like ...
4,8,Bouken Ou Beet,"Adventure, Fantasy, Shounen, Supernatural",It is the dark century and the people are suff...

In [15]:
anime.shape

(16206, 4)

In [16]:
anime.iloc[0].sypnopsis

'In the year 2071, humanity has colonized several of the planets and moons of the solar system leaving the now uninhabitable surface of planet Earth behind. The Inter Solar System Police attempts to keep peace in the galaxy, aided in part by outlaw bounty hunters, referred to as "Cowboys." The ragtag team aboard the spaceship Bebop are two such individuals. Mellow and carefree Spike Spiegel is balanced by his boisterous, pragmatic partner Jet Black as the pair makes a living chasing bounties and collecting rewards. Thrown off course by the addition of new members that they meet in their travels—Ein, a genetically engineered, highly intelligent Welsh Corgi; femme fatale Faye Valentine, an enigmatic trickster with memory loss; and the strange computer whiz kid Edward Wong—the crew embarks on thrilling adventures that unravel each member\'s dark and mysterious past little by little. Well-balanced with high density action and light-hearted comedy, Cowboy Bebop is a space Western classic and an homage to the smooth and improvised music it is named after.'

In [17]:
anime['sypnopsis'] = anime['sypnopsis'].apply(lambda x:x.split())

In [18]:
anime['sypnopsis'][0]

['In',
 'the',
 'year',
 '2071,',
 'humanity',
 'has',
 'colonized',
 'several',
 'of',
 'the',
 'planets',
 'and',
 'moons',
 'of',
 'the',
 'solar',
 'system',
 'leaving',
 'the',
 'now',
 'uninhabitable',
 'surface',
 'of',
 'planet',
 'Earth',
 'behind.',
 'The',
 'Inter',
 'Solar',
 'System',
 'Police',
 'attempts',
 'to',
 'keep',
 'peace',
 'in',
 'the',
 'galaxy,',
 'aided',
 'in',
 'part',
 'by',
 'outlaw',
 'bounty',
 'hunters,',
 'referred',
 'to',
 'as',
 '"Cowboys."',
 'The',
 'ragtag',
 'team',
 'aboard',
 'the',
 'spaceship',
 'Bebop',
 'are',
 'two',
 'such',
 'individuals.',
 'Mellow',
 'and',
 'carefree',
 'Spike',
 'Spiegel',
 'is',
 'balanced',
 'by',
 'his',
 'boisterous,',
 'pragmatic',
 'partner',
 'Jet',
 'Black',
 'as',
 'the',
 'pair',
 'makes',
 'a',
 'living',
 'chasing',
 'bounties',
 'and',
 'collecting',
 'rewards.',
 'Thrown',
 'off',
 'course',
 'by',
 'the',
 'addition',
 'of',
 'new',
 'members',
 'that',
 'they',
 'meet',
 'in',
 'their',
 'travels—Ein,',
 'a',
 'genetically',
 'engineered,',
 'highly',
 'intelligent',
 'Welsh',
 'Corgi;',
 'femme',
 'fatale',
 'Faye',
 'Valentine,',
 'an',
 'enigmatic',
 'trickster',
 'with',
 'memory',
 'loss;',
 'and',
 'the',
 'strange',
 'computer',
 'whiz',
 'kid',
 'Edward',
 'Wong—the',
 'crew',
 'embarks',
 'on',
 'thrilling',
 'adventures',
 'that',
 'unravel',
 'each',
 "member's",
 'dark',
 'and',
 'mysterious',
 'past',
 'little',
 'by',
 'little.',
 'Well-balanced',
 'with',
 'high',
 'density',
 'action',
 'and',
 'light-hearted',
 'comedy,',
 'Cowboy',
 'Bebop',
 'is',
 'a',
 'space',
 'Western',
 'classic',
 'and',
 'an',
 'homage',
 'to',
 'the',
 'smooth',
 'and',
 'improvised',
 'music',
 'it',
 'is',
 'named',
 'after.']

In [19]:
anime.iloc[0].Genres

'Action, Adventure, Comedy, Drama, Sci-Fi, Space'

In [20]:
anime['Genres'] = anime['Genres'].apply(lambda x: x.split(','))

In [21]:
anime['Genres'][0]

['Action', ' Adventure', ' Comedy', ' Drama', ' Sci-Fi', ' Space']

In [22]:
anime.head(2)

,MAL_ID,Name,Genres,sypnopsis
0,1,Cowboy Bebop,"[Action, Adventure, Comedy, Drama, Sci-Fi,...","[In, the, year, 2071,, humanity, has, colonize..."
1,5,Cowboy Bebop: Tengoku no Tobira,"[Action, Drama, Mystery, Sci-Fi, Space]","[other, day,, another, bounty—such, is, the, l..."

In [23]:
anime['Genres'] = anime['Genres'].apply(lambda x:[i.replace(",,", ",") for i in x])

In [24]:
anime.head()

,MAL_ID,Name,Genres,sypnopsis
0,1,Cowboy Bebop,"[Action, Adventure, Comedy, Drama, Sci-Fi,...","[In, the, year, 2071,, humanity, has, colonize..."
1,5,Cowboy Bebop: Tengoku no Tobira,"[Action, Drama, Mystery, Sci-Fi, Space]","[other, day,, another, bounty—such, is, the, l..."
2,6,Trigun,"[Action, Sci-Fi, Adventure, Comedy, Drama,...","[Vash, the, Stampede, is, the, man, with, a, $..."
3,7,Witch Hunter Robin,"[Action, Mystery, Police, Supernatural, Dr...","[ches, are, individuals, with, special, powers..."
4,8,Bouken Ou Beet,"[Adventure, Fantasy, Shounen, Supernatural]","[It, is, the, dark, century, and, the, people,..."

In [25]:
anime['Genres'] = anime['Genres'].apply(lambda x:[i.replace(" ","") for i in x])
anime['sypnopsis'] = anime['sypnopsis'].apply(lambda x:[i.replace(" ","") for i in x])

In [ ]:
anime.head()

In [323]:
anime['tags'] = anime['Genres'] + anime['sypnopsis']

In [324]:
anime.head(2)

,MAL_ID,Name,Genres,sypnopsis,tags
0,1,Cowboy Bebop,"[Action, Adventure, Comedy, Drama, Sci-Fi, Space]","[In, the, year, 2071,, humanity, has, colonize...","[Action, Adventure, Comedy, Drama, Sci-Fi, Spa..."
1,5,Cowboy Bebop: Tengoku no Tobira,"[Action, Drama, Mystery, Sci-Fi, Space]","[other, day,, another, bounty—such, is, the, l...","[Action, Drama, Mystery, Sci-Fi, Space, other,..."

In [325]:
anime = anime[['MAL_ID', 'Name', 'tags']]

In [326]:
anime.head(2)

,MAL_ID,Name,tags
0,1,Cowboy Bebop,"[Action, Adventure, Comedy, Drama, Sci-Fi, Spa..."
1,5,Cowboy Bebop: Tengoku no Tobira,"[Action, Drama, Mystery, Sci-Fi, Space, other,..."

In [327]:
anime['tags'] = anime['tags'].apply(lambda x: " ".join(x))

C:\Users\nikdu\AppData\Local\Temp/ipykernel_17024/1755461916.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  anime['tags'] = anime['tags'].apply(lambda x: " ".join(x))

In [328]:
anime['tags'][0]

'Action Adventure Comedy Drama Sci-Fi Space In the year 2071, humanity has colonized several of the planets and moons of the solar system leaving the now uninhabitable surface of planet Earth behind. The Inter Solar System Police attempts to keep peace in the galaxy, aided in part by outlaw bounty hunters, referred to as "Cowboys." The ragtag team aboard the spaceship Bebop are two such individuals. Mellow and carefree Spike Spiegel is balanced by his boisterous, pragmatic partner Jet Black as the pair makes a living chasing bounties and collecting rewards. Thrown off course by the addition of new members that they meet in their travels—Ein, a genetically engineered, highly intelligent Welsh Corgi; femme fatale Faye Valentine, an enigmatic trickster with memory loss; and the strange computer whiz kid Edward Wong—the crew embarks on thrilling adventures that unravel each member\'s dark and mysterious past little by little. Well-balanced with high density action and light-hearted comedy, Cowboy Bebop is a space Western classic and an homage to the smooth and improvised music it is named after.'

In [329]:
anime.head()

,MAL_ID,Name,tags
0,1,Cowboy Bebop,Action Adventure Comedy Drama Sci-Fi Space In ...
1,5,Cowboy Bebop: Tengoku no Tobira,"Action Drama Mystery Sci-Fi Space other day, a..."
2,6,Trigun,Action Sci-Fi Adventure Comedy Drama Shounen V...
3,7,Witch Hunter Robin,Action Mystery Police Supernatural Drama Magic...
4,8,Bouken Ou Beet,Adventure Fantasy Shounen Supernatural It is t...

In [330]:
from nltk.stem.porter import PorterStemmer 
ps = PorterStemmer()

In [331]:
def stem(text):
    df = []
    for i in text.split():
        df.append(ps.stem(i))
    return " ".join(df)

In [332]:
anime['tags'] = anime['tags'].apply(stem)

C:\Users\nikdu\AppData\Local\Temp/ipykernel_17024/4201223977.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  anime['tags'] = anime['tags'].apply(stem)

In [333]:
anime['tags'][0]

'action adventur comedi drama sci-fi space in the year 2071, human ha colon sever of the planet and moon of the solar system leav the now uninhabit surfac of planet earth behind. the inter solar system polic attempt to keep peac in the galaxy, aid in part by outlaw bounti hunters, refer to as "cowboys." the ragtag team aboard the spaceship bebop are two such individuals. mellow and carefre spike spiegel is balanc by hi boisterous, pragmat partner jet black as the pair make a live chase bounti and collect rewards. thrown off cours by the addit of new member that they meet in their travels—ein, a genet engineered, highli intellig welsh corgi; femm fatal fay valentine, an enigmat trickster with memori loss; and the strang comput whiz kid edward wong—th crew embark on thrill adventur that unravel each member\' dark and mysteri past littl by little. well-balanc with high densiti action and light-heart comedy, cowboy bebop is a space western classic and an homag to the smooth and improvis music it is name after.'

In [334]:
anime['tags'] = anime['tags'].apply(lambda x: x.lower())

C:\Users\nikdu\AppData\Local\Temp/ipykernel_17024/2049149514.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  anime['tags'] = anime['tags'].apply(lambda x: x.lower())

In [335]:
anime['tags'][0]

'action adventur comedi drama sci-fi space in the year 2071, human ha colon sever of the planet and moon of the solar system leav the now uninhabit surfac of planet earth behind. the inter solar system polic attempt to keep peac in the galaxy, aid in part by outlaw bounti hunters, refer to as "cowboys." the ragtag team aboard the spaceship bebop are two such individuals. mellow and carefre spike spiegel is balanc by hi boisterous, pragmat partner jet black as the pair make a live chase bounti and collect rewards. thrown off cours by the addit of new member that they meet in their travels—ein, a genet engineered, highli intellig welsh corgi; femm fatal fay valentine, an enigmat trickster with memori loss; and the strang comput whiz kid edward wong—th crew embark on thrill adventur that unravel each member\' dark and mysteri past littl by little. well-balanc with high densiti action and light-heart comedy, cowboy bebop is a space western classic and an homag to the smooth and improvis music it is name after.'

In [336]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 5000, stop_words="english")

In [337]:
vectors = cv.fit_transform(anime['tags']).toarray()

In [338]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [339]:
len(cv.get_feature_names())

C:\Users\nikdu\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

5000

In [340]:
from sklearn.metrics.pairwise import cosine_similarity

In [365]:
similar = cosine_similarity(vectors)

In [366]:
similar[5]

array([0.11951619, 0.0827396 , 0.13380773, ..., 0.        , 0.03094922,
       0.07378785])

In [367]:
sorted(list(enumerate(similar[5])), reverse=True, key=lambda x: x[1])[1:6]

[(16182, 0.4877614343153735),
 (7356, 0.4712931697747643),
 (9704, 0.4695829713364263),
 (7014, 0.43281515057855113),
 (2009, 0.43208249093194817)]

In [344]:
anime.iloc[5].Name

'Eyeshield 21'

In [360]:
anime[anime['Name'] == 'Trigun'].index[0]

2

In [368]:
def recommend_anime(obj):
    index = anime[anime['Name'] == obj].index[0]
    distances = similar[index]
    anime_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x: x[1])[1:6]
    for i in anime_list:
        print(anime.iloc[i[0]].Name)

In [369]:
recommend_anime('Mob Psycho 100')

Mob Psycho 100 II
Saiki Kusuo no Ψ-nan: Ψ-shidou-hen
Cike Wu Liuqi
Yume Senshi Wingman
Mitsume ga Tooru

In [371]:
import pickle
pickle.dump(similar, open('similar.pkl', 'wb'))
pickle.dump(anime.to_dict(), open('anime_dict.pkl', 'wb'))